///// VARIABLES ////

@blue: rgb(0, 58, 112);
@blue2: #1c304b;
@blue3: #243d5f;

@green: rgb(115, 169, 80);

@placeholderText: #ccc;

////// MIXINS //////

.gradient(@top, @bottom) {
	background: -moz-linear-gradient(top, @top 0%, @bottom 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, @top), color-stop(100%, @bottom));
	background: -webkit-linear-gradient(top, @top 0%, @bottom 100%);
	background: -o-linear-gradient(top, @top 0%, @bottom 100%);
	background: -ms-linear-gradient(top, @top 0%, @bottom 100%);
	background: linear-gradient(to bottom, @top 0%, @bottom 100%);
}

.gradient50(@start1, @stop1, @start2, @stop2) {
	background: -moz-linear-gradient(top, @start1 0%, @stop1 49%, @start2 51%, @stop2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, @start1), color-stop(49%, @stop1), color-stop(51%, @start2), color-stop(100%, @stop2));
	background: -webkit-linear-gradient(top, @start1 0%, @stop1 49%, @start2 51%, @stop2 100%);
	background: -o-linear-gradient(top, @start1 0%, @stop1 49%, @start2 51%, @stop2 100%);
	background: -ms-linear-gradient(top, @start1 0%, @stop1 49%, @start2 51%, @stop2 100%);
	background: linear-gradient(to bottom, @start1 0%, @stop1 49%, @start2 51%, @stop2 100%);
}

.flag-iso(@alpha3, @alpha2, @size: 128, @name: '') {
	&.@{alpha3} {
		& when (@name = '') {
			background-image: url('../images/flags/16/@{alpha2}.png') !important;

			@media
				only screen and (min-device-width : 768px) and (-webkit-min-device-pixel-ratio: 1.5),
				only screen and (min-device-width : 768px) and (        min-device-pixel-ratio: 1.5) {
				background-size: 16px 16px !important;
				background-image: url('../images/flags/32/@{alpha2}.png') !important;
			}
		}

		& when (@alpha2 = null) {
			background-image: url('../images/flags/name/16/@{name}.png') !important;

			@media
				only screen and (min-device-width : 768px) and (-webkit-min-device-pixel-ratio: 1.5),
				only screen and (min-device-width : 768px) and (        min-device-pixel-ratio: 1.5) {
				background-size: 16px 16px !important;
				background-image: url('../images/flags/name/32/@{name}.png') !important;
			}
		}

		&.big {
			@data: url('../images/flags/@{size}/@{alpha2}.png');
			background-size: unit(@size, px) unit(@size, px) !important;

			& when (@name = '') {
				background-image: @data !important;
			}

			& when (@alpha2 = null) {
				background-image: url('../images/clubs/@{name}.png') !important;
			}
		}
	}
}

.flag-wrapper(@alpha3, @alpha2, @name: '', @size: 128) {
	.flag-iso(@alpha3, @alpha2, @size);
}

.flag-wrapper-name(@alpha3, @name: '', @size: 128) {
	.flag-iso(@alpha3, null, @size, @name);
}

////////////////////

*{
	max-height: 20000px;
}
header, footer, article, section, nav, figure, aside{display: block;}
input[type=text], input[type=password], input[type=file], input[type=submit], input[type=search] textarea, button{
	-webkit-appearance:none;
	border-radius: 0;
	box-shadow: none;
}
html, body{height: 100%;}
body{
	min-width: 320px;
	margin: 0;
	color: #000;
	font: 13px/19px 'proxima-nova', Arial, Helvetica, sans-serif;
	background: #fff url('../images/bg-body-2.png');
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust: none;
}

img {
	border-style: none;
	max-width: 100%;
}

a {
	text-decoration: none;
	color: @green;

	&:hover {
		text-decoration: underline;
	}

	&:active {
		background-color: transparent;
	}
}

dl {
	display: inline-block;
	width: 100%;
}

dt {
	clear: left;
	float: left;
	font-weight: bold;
	padding-bottom: 0.2em;
	width: 12em;
}

dd {
	float: left;
	margin: 0;

	&.social {
		a {
			&:hover {
				color: @blue;
				text-decoration: none;
			}

			span {
				display: none;
			}
		}
	}
}

input,
textarea,
select {
	font: 100% Arial, Helvetica, sans-serif;
	vertical-align: middle;
	color: #000;
}

form,
fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}

::-webkit-input-placeholder {
	color: @placeholderText;
}

::-moz-placeholder {
	color: @placeholderText;
	opacity: 1;
}

:-moz-placeholder {
	color: @placeholderText;
}

button::-moz-focus-inner,
input[type=submit]::-moz-focus-inner {
	border: 0;
	padding: 0;
}

#wrapper{
	width: 100%;
	overflow: hidden;
	min-height: 100%;
	background: url('../images/bg-body.jpg') no-repeat 50% 0;
}

.w1 {
	max-width: 1110px;
	margin: 0 auto;
	padding: 30px;
	background: #fff;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
}

#header {
	margin: 0 0 20px;

	.bar {
		overflow: hidden;
		position: relative;

		img {
			float: right;
			max-width: none;
			min-height: 119px;
		}
	}
}

.logo{
	position: absolute;
	top: 0;
	left: 14px;
	background: url('../images/logo.png') no-repeat;
	text-indent: -9999px;
	overflow: hidden;
	width: 334px;
	height: 119px;

	a {
		display:block;
		height:100%;
	}
}


#nav {
	padding: 1px;
	border: 1px solid @blue2;
	.gradient(@blue, @blue2);
	line-height: 18px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	letter-spacing: 1px;


	@media only screen and (min-width : 768px) {
		.navigation {
			margin:  0;
			padding: 0;
			list-style: none;
			display: table; /* [1] */
			overflow: hidden; /* [1] */
			table-layout: fixed; /* [2] */
			width: 100%; /* [3] */

			li {
				display: table-cell; /* [4] */

				a {
					display: block; /* [5] */
				}
			}
		}
	}

	.opener{
		display: none;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		display: table;
		width: 100%;

		li {
			vertical-align: top;
			padding-left: 1px;

			@media only screen and (min-width: 767px){
				display: table-cell;
			}

			&:first-child {
				padding-left: 0;
			}
		}

		a {
			display: block;
			color: #f0f0f0;
			padding: 14px 5px 12px;
			border-right: 1px solid @blue2;
			background: #243d5f;
			.gradient50(@blue, @blue3, @blue3, @blue2);
		}
	}
}

.result-section{
	color: #fff;
	margin: 0 0 20px;
	background: @blue2;
	.gradient(@blue, @blue2);
}
.result-section.mobile{
	position: absolute;
	left: -9999px;
	top: -9999px;
}
.result-section .heading{
	letter-spacing: 1px;
	border-bottom: 3px solid @green;
	padding: 6px 0 0 20px;
	overflow: hidden;
}
.result-section .heading .title{
	float: left;
	margin: 3px 20px 0 0;
	text-transform: uppercase;
	color: #fff;
}
.result-section .heading .title:after{
	display: inline-block;
	vertical-align: top;
	content: '';
	background: url('../images/sprite.png') no-repeat 0 -15px;
	width: 8px;
	height: 7px;
	margin: 5px 0 0 7px;
}
.result-section .tabset{
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
}
.result-section .tabset li{
	float: left;
	margin: 0 5px 0 0;
}
.result-section .tabset a{
	float: left;
	padding: 4px 18px;
	color: #fff;
	background: @blue2;
}
.result-section .tabset a:hover,
.result-section .tabset a.active,
.result-section .tabset .active a{
	text-decoration: none;
	background: @green;
}

.res-slider{
	position: relative;
	color: #fff;

	&.carousel-tablet {
		position: absolute;
		left: -9999px;
		top: -9999px;
	}

	.mask {
		width: 100%;
		overflow: hidden;
	}

	.slideset {
		float: left;
		width: 99999px;
	}

	.slide {
		float: left;
		position: relative;
		width: 222px;

		&:after {
			position: absolute;
			top: 10px;
			left: 100%;
			width: 1px;
			height: 80px;
			background: url('../images/bg-1.png');
			content: '';
		}
	}

	.slide-holder{
		width: 180px;
		margin: 0 auto;
		padding: 3px 0 14px;
	}

	.date {
		display: block;
		margin: 0 0 8px;
		font-size: 10px;
		line-height: 14px;
		text-transform: uppercase;
		font-weight: bold;
		letter-spacing: 1px;
		text-align: center;
	}

	.title-row {
		text-align: center;
		margin: 0 0 5px;
		font-size: 12px;
		line-height: 14px;
		text-transform: uppercase;
		font-weight: bold;
		letter-spacing: 1px;
		color: #ccc;

		img {
			float: left;
			margin: 0 7px 0 0;
		}

		span {
			float: left;
			width: 40px;
			text-align: left;
		}

		.item {
			display: inline-block;
			vertical-align: top;
			margin: 0 0 0 20px;
			position: relative;
			width: 65px;

			&:before {
				position: absolute;
				top: 5px;
				left: -15px;
				width: 6px;
				height: 2px;
				background: url('../images/separator.png') no-repeat;
				content: '';
			}

			&:first-child {
				margin: 0;

				span {
					float: right;
					text-align: right;
				}

				img {
					float: right;
					margin: 0 0 0 7px;
				}

				&:before {
					display: none;
				}
			}
		}
	}

	.scores {
		display: table;
		margin: 0 0 7px;
		width: 100%;
		text-align: center;
		font-size: 20px;
		line-height: 24px;
		color: #fff;
		font-weight: bold;

		strong {
			display: table-cell;
			vertical-align: top;
			background: @blue;
			width: 50%;
			padding: 3px 5px 1px;
			border-left: 1px solid @blue2;

			&:first-child {
				border: none;
			}
		}
	}
}
.res-slider .links{
	width: 120%;
	font-size: 9px;
	line-height: 11px;
	letter-spacing: 1px;
}
.res-slider .links:after{
	display: block;
	content: '';
	clear: both;
}
.res-slider .links a{
	float: left;
	margin: 0 10px 0 0;
	color: #fff;
}
.res-slider .links .report:before{
	display: inline-block;
	vertical-align: top;
	content: '';
	background: url('../images/sprite.png') no-repeat;
	width: 8px;
	height: 10px;
	margin: 0 2px 0 0;
}
.res-slider .links .watch:before{
	display: inline-block;
	vertical-align: top;
	content: '';
	background: url('../images/sprite.png') no-repeat -12px 0;
	width: 11px;
	height: 7px;
	margin: 2px 4px 0 0;
}
.res-slider .slider-nav{
	position: absolute;
	top: -24px;
	right: 20px;
}
.res-slider .btn-prev,
.res-slider .btn-next{
	float: left;
	margin: 0 0 0 11px;
	background: url('../images/sprite.png') no-repeat -28px 0;
	width: 6px;
	height: 9px;
	text-indent: -9999px;
	overflow:hidden;
}
.res-slider .btn-next{background-position: -45px 0;}
.section{margin: 0 0 20px;}
.section:after{
	display: block;
	content: '';
	clear: both;
}
.promo-gallery{
	float: left;
	width: 750px;
}
.promo-gallery .mask{
	min-height: 400px;
	position: relative;
	overflow: hidden;
	height: 400px;
	margin: 0 0 10px;
}
.promo-gallery .slideset{
	float: left;
	width: 99999px;
	overflow: hidden;
}
.promo-gallery .slide{
	float: left;
	position: relative;
}
.promo-gallery .caption{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 10px 23px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	background: url('../images/bg-2.png');
	font-weight: bold;
	color: #fff;
	font-size: 14px;
}
.promo-gallery .caption h1{
	font-size: 35px;
	line-height: 40px;
	margin: 0 0 2px;
	font-weight: bold;
}
.promo-gallery .caption p{margin:0;}
.promo-gallery img{
	display: block;
	width: 100%;
}
.promo-gallery .switcher{
	margin: 0;
	padding: 0;
	list-style: none;
	width: 110%;
	overflow: hidden;
}
.promo-gallery .switcher li{
	position: relative;
	float: left;
	width: 142px;
	margin: 0 10px 0 0;
}
.promo-gallery .switcher a{
	display: block;
	padding: 0 0 40px;
}
.promo-gallery .switcher span{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 40px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	background: #000;
	color: #fff;
	font-size: 13px;
	line-height: 14px;
	padding: 6px;
}
.promo-gallery .switcher .active span{background: @green;}
.side-col{
	float: right;
	width: 340px;
}
.ad-holder{
	display: block;
	margin: 0 0 10px;
}
.ad-holder img{display: block;}
.featured-box{
	background: #ffffff;
	.gradient(#ffffff, #f0f0f0);
	border: 1px solid #ccc;
	padding: 16px 10px 14px;
	overflow: hidden;
}
.featured-box img{
	float: left;
	margin: 2px 17px 0 8px;
}
.featured-box h2{
	text-transform: uppercase;
	font-size: 12px;
	line-height: 14px;
	color: #e4291b;
	margin: 0 0 4px;
}
.featured-box h3{
	font-size: 18px;
	line-height: 20px;
	color: @blue;
	margin: 0 0 16px;
}
.featured-box .row{overflow: hidden;}
.featured-box .btn{
	text-align: center;
	float: left;
	margin: 0 5px 0 0;
	background: #999;
	color: #333;
	min-width: 90px;
	font-size: 12px;
	line-height: 16px;
	font-weight: bold;
	padding: 7px 2px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	letter-spacing: 1px;
}
.featured-box .btn-2{
	background: #c00;
	color: #fff;
}
#footer{
	padding: 23px 10px 20px 44px;
	overflow: hidden;
	color: #fff;
	margin: 0 -30px -30px;
	border-top: 4px solid @green;
	background: @blue;
	.gradient(@blue, @blue2);
}
.nav{
	float: left;
	margin: 0 23px 0 0;
	width: 436px;
	text-transform: uppercase;
}
#footer h3{
	font-size: 14px;
	line-height: 18px;
	margin: 0 0 30px;
}
.nav ul{
	letter-spacing: 1px;
	font-size: 12px;
	font-weight: bold;
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}
.nav li{
	margin: 0 10px 21px 0;
}
.social-block{
	float: left;
	width: 200px;
	margin: 0 118px 0 0;
}
.social-networks{
	margin: 0;
	list-style: none;
	overflow: hidden;
	padding: 6px 0 0 5px;
}
.social-networks li{
	display: inline-block;
	vertical-align: middle;
	margin: 0 20px 0 0;
}
.social-networks a{
	display: block;
	text-indent: -9999px;
	overflow:hidden;
	background: url('../images/sprite.png') no-repeat;
}
.social-networks .facebook{
	background-position: -65px 0;
	width: 9px;
	height: 18px;
}
.social-networks .twitter{
	background-position: -97px -1px;
	width: 18px;
	height: 15px;
}
.social-networks .youtube{
	background-position: -138px -2px;
	width: 20px;
	height: 14px;
}
.social-networks .instagram{
	background-position: -182px 0;
	width: 18px;
	height: 17px;
}
.copy-block{
	float: left;
	padding: 24px 0 0;
	width: 330px;
	font-size: 12px;
	line-height: 21px;
}
.copy-block .frame{
	display: inline-block;
	padding: 3px 0 0;
	vertical-align: middle;
}
.logo-2{
	margin: 0 25px 0 0;
	display: inline-block;
	vertical-align: middle;
	background: url('../images/logo-2.png') no-repeat;
	text-indent: -9999px;
	overflow: hidden;
	width: 109px;
	height: 110px;
}
.logo-2 a{
	display:block;
	height:100%;
}
#footer a{color: #fff;}
.sponsor-section{
	margin: 0 0 40px;
	border-bottom: 1px solid #f5f5f5;
	padding: 2px 0 25px;
}
.sponsor-section h2{
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 18px;
	color: #999;
	margin: 0 0 18px;
}
.sponsor-section .list{
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
	display: table;
	width: 100%;
}
.sponsor-section .list li{
	display: table-cell;
	vertical-align: middle;
	padding: 0 50px;
}
.sponsor-section .list img{
	display: block;
	margin: 0 auto;
}
.sponsor-section .list .hover{
	position: absolute;
	left: -9999px;
	top: -9999px;
}
.sponsor-section .list a:hover .hover{
	position: static;
	left: auto;
	top: auto;
}
.sponsor-section .list a:hover .default{
	position: absolute;
	left: -9999px;
	top: -9999px;
}
.ad-section{
	margin: 0 0 37px;
	text-align: center;
}
.ad-section img{
	display: block;
	margin: 0 auto;
}

.social-section {
	float: left;
	width: 750px;

	.heading {
		overflow: hidden;

		.title {
			float: left;
			color: #fff;
			text-transform: uppercase;
			background: @blue;
			font-size: 16px;
			line-height: 20px;
			padding: 6px 16px 4px;
			font-weight: bold;
			letter-spacing: 1px;
		}
	}

	.tabset {
		float: left;
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			float: left;
			margin: 0 0 0 1px;
		}

		a {
			color: black;
			float: left;
			text-align: center;
			overflow:hidden;
			width: 32px;
			height: 30px;

			i {
				font-style: normal;
				vertical-align: -60%;
			}
		}

		.facebook, .instagram, .twitter, .youtube {
			background: lightgrey;

			&:hover {
				background: @blue2;
				color: white;
			}

			&.active {
				background: @blue;
				color: white;
			}
		}
	}

	.tab {
		overflow: hidden;
		background: @blue;
		.gradient(@blue, @blue2);
		color: #fff;
		padding: 20px;
	}

	a {
		color: #fff;
	}

	.logo-box {
		float: right;
		width: 160px;
		padding: 1em 0 0;
		text-align: center;

		img {
			display: block;
			margin: 0 auto 18px;
		}

		a {
			display: inline-block;
			vertical-align: top;
			font-size: 16px;
		}
	}

	.text{
		overflow: hidden;
		padding: 1em;
		text-align: center;
		font-size: 18px;
		line-height: 29px;
		font-weight: bold;
		font-style: italic;

		p {
			margin: 0 0 12px;

			&.description {
				font-size: 14px;
				font-weight: normal;
				line-height: 1.5em;
			}
		}
	}
}

.social-nav{
	margin: 0 0 7px;
	padding: 0;
	list-style: none;
	overflow: hidden;
	text-align: center;
	font-size: 10px;
	line-height: 16px;
	font-style: normal;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
}
.social-nav li{
	display: inline-block;
	vertical-align: top;
	margin: 0 6px;
}
.social-nav a{
	display: block;
	color: #ccc;
}
.social-nav a:before{
	display: inline-block;
	vertical-align: top;
	content: '';
	background: url('../images/sprite.png');
	margin: 0 5px 0 0;
}
.social-nav .reply:before{
	background-position: -214px 0;
	width: 19px;
	height: 12px;
}
.social-nav .retweet:before{
	background-position: -242px 0;
	width: 22px;
	height: 15px;
}
.social-nav .favorite:before{
	background-position: -273px 0;
	width: 14px;
	height: 14px;
	margin-top: -1px;
}
.social-nav .follow:before{
	background-position: -298px 0;
	width: 14px;
	height: 12px;
}
.fb-slides{
	float: right;
	width: 710px;
}
.fb-slides .mask{
	width: 100%;
	overflow: hidden;
	max-height: 17.5em;
}
.fb-slides .slideset{
	width: 99999px;
	overflow: hidden;
}
.fb-slides .slide{
	float: left;
	width: 710px;
	overflow: hidden;
}

.photo-gallery{
	float: right;
	width: 340px;
}
.photo-gallery .heading{
	margin: 0 0 6px;
	text-transform: uppercase;
	border-bottom: 4px solid #333;
}
.photo-gallery .heading:after{
	display: block;
	content: '';
	clear: both;
}
.photo-gallery .heading h2{
	float: left;
	margin: 0 0 -4px;
	text-transform: uppercase;
	color: @green;
	font-size: 14px;
	line-height: 24px;
	padding: 5px 0;
	letter-spacing: 1px;
}
.photo-gallery .heading h2:before{
	display: inline-block;
	vertical-align: top;
	content: '';
	background: url('../images/sprite.png') no-repeat 0 -34px;
	width: 32px;
	height: 30px;
	margin: -5px 9px -5px 0;
}
.photo-gallery .heading .link{
	float: right;
	letter-spacing: 1px;
	margin: 11px 0 0;
	font-size: 10px;
	line-height: 14px;
	color: #333;
	font-weight: bold;
}
.photo-gallery .visual{
	position: relative;
	margin-left: -7px;
	background: url('../images/bg-visual.png') no-repeat;
	width: 320px;
	height: 224px;
	padding: 16px 17px 24px;
}
.photo-gallery .visual .mask{
	width: 100%;
	overflow: hidden;
}
.photo-gallery .slideset{
	width: 99999px;
	overflow: hidden;
}
.photo-gallery .slide{
	float: left;
	width: 320px;
	overflow: hidden;
}
.photo-gallery .slide img{
	display: block;
}
.photo-gallery .btn-prev,
.photo-gallery .btn-next{
	position: absolute;
	top: 116px;
	left: 17px;
	background: url('../images/sprite.png') no-repeat -188px -34px;
	width: 32px;
	height: 24px;
	text-indent: -9999px;
	overflow:hidden;
}
.photo-gallery .btn-next{
	left: auto;
	right: 17px;
	background-position: -188px -64px;
}
#main{
	width: 100%;
	overflow: hidden;
}
#content{
	float: right;
	width: 810px;
}
#sidebar{
	float: left;
	width: 270px;
}
.nav-bar{
	margin: 0 0 20px;
}
.nav-bar h2{
	font-size: 20px;
	line-height: 24px;
	color: #333;
	margin: 0 0 7px;
	font-weight: normal;
}
.nav-bar ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.nav-bar > ul > li > a{
	display: block;
	margin: 0 0 1px;
	background: @blue;
	color: #fff;
	position: relative;
	font-size: 15px;
	line-height: 20px;
	padding: 10px 25px 10px 16px;
	font-weight: bold;
	letter-spacing: 1px;
}
.nav-bar > ul > li > a:hover,
.nav-bar > ul > li.active > a,
.nav-bar > ul > li > a.active{
	text-decoration: none;
	background: @green;
}
.nav-bar > ul > li > a:after{
	position: absolute;
	content: '';
	background: url('../images/sprite.png') no-repeat -14px -18px;
	width: 7px;
	height: 4px;
	top: 19px;
	right: 15px;
}
.nav-bar > ul > li > a:hover:after,
.nav-bar > ul > li.active > a:after,
.nav-bar > ul > li > a.active:after{
	background-position: -35px -18px;
	content: ' ';
}
.nav-bar ul ul a{
	margin: 0 0 1px;
	position: relative;
	display: block;
	background: #ccc;
	padding: 5px 10px 5px 37px;
	font-size: 13px;
	line-height: 20px;
	font-weight: bold;
	letter-spacing: 1px;
	color: @blue;
}
.nav-bar ul ul a:hover,
.nav-bar ul ul .active a,
.nav-bar ul ul a.active{
	background: #999;
	text-decoration: none;
}
.nav-bar ul ul a:before{
	position: absolute;
	content: '';
	background: url('../images/sprite.png') no-repeat 0 -69px;
	width: 4px;
	height: 7px;
	top: 11px;
	left: 24px;
}
.nav-bar ul ul a:hover:before,
.nav-bar ul ul .active a:before,
.nav-bar ul ul a.active:before{
	background-position: 0 -81px;
	content: ' ';
}
#content h1{
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
	font-weight: normal;
	color: #333;
	margin: 10px 0 8px;
}
.doc-block{
	margin: 0 0 30px;
	font-size: 12px;
	line-height: 18px;
	overflow: hidden;
}
.doc-block .heading{
	background: @blue;
}
.doc-block h2{
	margin: 0;
	text-transform: uppercase;
	color: #fff;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 1px;
}
.doc-block h2 a{
	position: relative;
	display: block;
	color: #fff;
	padding: 11px 37px 9px;
}
.doc-block h2 a:after{
	position: absolute;
	content: '';
	background: url('../images/sprite.png') no-repeat -14px -18px;
	width: 7px;
	height: 4px;
	top: 19px;
	right: 13px;
}
.doc-block h2 a.word:before{
	position: absolute;
	content: '';
	background: url('../images/sprite.png') no-repeat -230px -34px;
	width: 14px;
	height: 16px;
	top: 12px;
	left: 14px;
}
.doc-block h2 a.excel:before{
	position: absolute;
	content: '';
	background: url('../images/sprite.png') no-repeat -230px -57px;
	width: 16px;
	height: 16px;
	top: 13px;
	left: 15px;
}
.doc-block h2 a.pdf:before{
	position: absolute;
	content: '';
	background: url('../images/sprite.png') no-repeat -230px -80px;
	width: 16px;
	height: 16px;
	top: 12px;
	left: 14px;
}
.doc-block h2 a.other:before{
	position: absolute;
	content: '';
	background: url('../images/sprite.png') no-repeat -253px -34px;
	width: 12px;
	height: 16px;
	top: 13px;
	left: 15px;
}
.doc-list{
	margin: 0;
	padding: 0;
	list-style: none;
}
.doc-list .open-holder{
	display: table;
	width: 100%;
}
.doc-list li.active .open-holder{display: none;}
.doc-list .slide{
	display: table;
	width: 100%;
}
.doc-list li{
	background: url('../images/separator-2.png') repeat-x 0 100%;
	padding: 12px 0 18px;
	display: table;
	width: 100%;
}
.doc-list li .col-1,
.doc-list li .col-2,
.doc-list li .col-3,
.doc-list li .col-4{
	display: table-cell;
	vertical-align: middle;
}
.doc-list .col-1{
	width: 455px;
	padding: 0 10px 0 14px;
}
.doc-list .col-2{
	width: 191px;
	padding: 0 10px 0 0;
}
.doc-list .col-3{
	width: 130px;
}
.doc-list p{margin: 0;}
.doc-list h3{
	font-size: 16px;
	line-height: 20px;
	margin: 0 0 4px;
	color: @green;
	letter-spacing: 1px;
}
.doc-list .btn{
	display: block;
	overflow: hidden;
	background: @green;
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
	font-size: 10px;
	line-height: 18px;
	padding: 5px 12px;
	text-align: right;
	letter-spacing: 1px;
}
.doc-list .btn:before{
	float: left;
	content: '';
	background: url('../images/sprite.png') no-repeat -23px -69px;
	width: 5px;
	height: 6px;
	margin: 7px 0 0;
}
.doc-list .col-4{
	width: 331px;
}
.download-form{
	overflow: hidden;
}
.download-form input[type=submit]{
	float: right;
	width: 90px;
	height: 32px;
	border: none;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	color: #fff;
	font: bold 14px 'proxima-nova', Arial, Helvetica, sans-serif;
	background: @green;
	cursor: pointer;
}
.download-form .text{overflow: hidden;}
.download-form input[type=text]{
	float: left;
	border:1px solid #999;
	border-right: none;
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 32px;
	font: 12px/20px Arial, Helvetica, sans-serif;
	padding: 5px 10px;
	background: #fff;
	color: #333;
}
.content-block{padding: 8px 0 115px;}
#content .content-block h1{
	font-size: 32px;
	line-height: 36px;
	margin: 0 0 17px;
	color: @green;
	font-weight: normal;
	text-transform: none;
	letter-spacing: 2px;
}
.content-block p{margin: 0 0 18px;}
.content-block h2{
	font-size: 28px;
	line-height: 32px;
	color: @blue;
	font-weight: normal;
	margin: 0 0 15px;
	letter-spacing: 2px;
}
.content-block .alignleft{
	float: left;
	margin: 0 10px 10px 0;
}
.content-block .alignright{
	float: right;
	margin: 0 0 10px 20px;
}
.content-block h3{
	font-size: 24px;
	line-height: 28px;
	font-weight: normal;
	color: #333;
	letter-spacing: 1px;
	margin: 52px 0 13px;
}
.text-right{text-align: right;}
.content-block h4{
	font-size: 20px;
	line-height: 24px;
	font-weight: normal;
	letter-spacing: 1px;
	color: #e4291b;
	margin: 68px 0 13px;
}
.content-block h5{
	font-size: 16px;
	line-height: 20px;
	font-weight: normal;
	color: #000;
	letter-spacing: 1px;
	margin: 0 0 16px;
}
.content-block h6{
	font-size: 14px;
	line-height: 20px;
	font-weight: normal;
	color: #000;
	letter-spacing: 1px;
	margin: 0 0 35px;
}
.table-block{
	margin: 0 0 23px;
}
.table-block .title{
	display: block;
	margin: 0 0 1px;
	background: @blue;
	color: #fff;
	padding: 10px 16px;
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
	letter-spacing: 1px;
}
.table-block table{
	border-collapse: collapse;
	width: 100%;
	font-weight: bold;
	font-size: 12px;
	line-height: 16px;
}
.table-block table th{
	background: #f0f0f0;
	color: #333;
	padding: 7px 10px;
	text-align: center;
}
.table-block td{
	padding: 7px 10px 6px;
	color: #666;
	border-bottom: 1px dotted #ccc;
	text-align: center;
}
.table-block .col-1{
	padding-left: 15px;
	width: 26%;
	text-align: left;
}
.table-block .col-12{text-align: left;}

.flag {
	@size: 128;

	background-repeat: no-repeat !important;
	background-position-x: 1em !important;
	background-position-y: center !important;
	margin: 0 0 2px !important;
	padding-left: 2.75em !important;

	&.big {
		background-position: 0 !important;
		display: inline-block;
		float: right;
		height: unit(@size, px);
		padding: 0 !important;
		width: unit(@size, px);
	}

	/* Countries that don't have an ISO 3166 alpha-2 code */

	.flag-wrapper-name(CAT, 'Catalonia');
	.flag-wrapper-name(ENG, 'England');
	.flag-wrapper-name(SCO, 'Scotland');
	.flag-wrapper-name(WAL, 'Wales');

	.flag-wrapper(ARE, ae, 'United Arab Emirates');
	.flag-wrapper(ARG, ar, 'Argentina');
	.flag-wrapper(ASM, as, 'American Samoa');
	.flag-wrapper(AUS, au, 'Australia');
	.flag-wrapper(AUT, at, 'Austria');
	.flag-wrapper(BEL, be, 'Belgium');
	.flag-wrapper(CAN, ca, 'Canada');
	.flag-wrapper(CHE, ch, 'Switzerland');
	.flag-wrapper(CHL, cl, 'Chile');
	.flag-wrapper(CHN, cn, 'China');
	.flag-wrapper(COK, ck, 'Cook Islands');
	.flag-wrapper(CZE, cz, 'Czech Republic');
	.flag-wrapper(DEU, de, 'Germany');
	.flag-wrapper(EGY, eg, 'Egypt');
	.flag-wrapper(ESP, es, 'Spain');
	.flag-wrapper(FJI, fj, 'Fiji');
	.flag-wrapper(FRA, fr, 'France');
	.flag-wrapper(GBR, gb, 'Great Britain');
	.flag-wrapper(GGY, gg, 'Guernsey');
	.flag-wrapper(HKG, hk, 'Hong Kong');
	.flag-wrapper(HUN, hu, 'Hungary');
	.flag-wrapper(IND, in, 'India');
	.flag-wrapper(IRL, ie, 'Ireland');
	.flag-wrapper(IRN, ir, 'Iran');
	.flag-wrapper(ITA, it, 'Italy');
	.flag-wrapper(JEY, je, 'Jersey');
	.flag-wrapper(JPN, jp, 'Japan');
	.flag-wrapper(KEN, ke, 'Kenya');
	.flag-wrapper(KIR, ki, 'Kiribati');
	.flag-wrapper(LBN, lb, 'Lebanon');
	.flag-wrapper(LUX, lu, 'Luxembourg');
	.flag-wrapper(MCO, mc, 'Monaco');
	.flag-wrapper(MUS, mu, 'Mauritius');
	.flag-wrapper(MYS, my, 'Malaysia');
	.flag-wrapper(NFK, nf, 'Norfolk Island');
	.flag-wrapper(LKA, lk, 'Sri Lanka');
	.flag-wrapper(NIU, nu, 'Niue');
	.flag-wrapper(NLD, nl, 'Netherlands');
	.flag-wrapper(NZL, nz, 'New Zealand');
	.flag-wrapper(PAK, pk, 'Pakistan');
	.flag-wrapper(PHL, ph, 'Philippines');
	.flag-wrapper(PNG, pg, 'Papua New Guinea');
	.flag-wrapper(PRT, pt, 'Portugal');
	.flag-wrapper(PYF, pf, 'Tahiti == French Polynesia');
	.flag-wrapper(QAT, qa, 'Qatar');
	.flag-wrapper(SGP, sg, 'Singapore');
	.flag-wrapper(SLB, sb, 'Soloman Islands');
	.flag-wrapper(THA, th, 'Thailand');
	.flag-wrapper(TKL, tk, 'Tokelau');
	.flag-wrapper(TON, to, 'Tonga');
	.flag-wrapper(TTO, tt, 'Trinidad & Tobago');
	.flag-wrapper(TUR, tr, 'Turkey');
	.flag-wrapper(TUV, tv, 'Tuvalu');
	.flag-wrapper(TWN, tw, 'Taiwan');
	.flag-wrapper(USA, us, 'United States of America');
	.flag-wrapper(WSM, ws, 'Samoa');
	.flag-wrapper(ZAF, za, 'South Africa');
}

body.nation ul{
	padding: 0;
}
body.nation li{
	list-style: none;
}
body.nation .flag {
	background-position-x: 0 !important;
	padding-left: 1.75em !important;
}

#nations {
	padding-left: 0;

	li {
		/*font-size: 13px;
		line-height: 18px;*/
		list-style: none;
	}
}

.style-tabset{
	overflow: hidden;
	margin: 0 0 1px;
	padding: 0;
	list-style: none;
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
}
.style-tabset li{
	position: relative;
	float: left;
	margin: 0 0 0 -15px;
}
.style-tabset li:first-child{margin: 0;}
.style-tabset a{
	position: relative;
	display: block;
	margin: 0 15px 0 0;
	background: @blue;
	color: #fff;
	padding: 11px 22px 9px 47px;
}
.style-tabset li:first-child a{padding-left: 27px;}
.style-tabset a:after{
	position: absolute;
	left: 100%;
	top: 0;
	content: '';
	background: url('../images/sprite.png') no-repeat -17px -95px;
	width: 15px;
	height: 40px;
}
.style-tabset a.active,
.style-tabset a:hover{
	text-decoration: none;
	background: @green;
}
.style-tabset a.active:after,
.style-tabset a:hover:after{
	background-position: 0 -95px;
	content: ' ';
}
.content-block ul.list,
.content-block ol.list{
	margin: 0 0 19px;
	padding: 0 0 0 8px;
	list-style: none;
}
.content-block ol.list{counter-reset: item;}
.content-block ul.list li,
.content-block ol.list li{
	margin: 0 0 7px;
	padding: 0 0 0 15px;
	position: relative;
}
.content-block ol.list li{
	padding-left: 20px;
}
.content-block ul.list li:before{
	position: absolute;
	left: 0;
	top: 6px;
	background: url('../images/sprite.png') no-repeat -25px -80px;
	content: '';
	width: 4px;
	height: 7px;
}
.content-block ol.list li:before{
	position: absolute;
	left: 0;
	top: 0;
	content: counters(item, ".") " ";
	counter-increment: item;
	font-weight: bold;
	color: @blue;
}
.content-block .columns{
	overflow: hidden;
}
.content-block .columns .col{
	float: left;
	width: 50%;
}
.sponsor-section .slider{display: none;}
/* *** */
.breadcrumbs{
	overflow: hidden;
	font-size: 10px;
	line-height: 12px;
	color:#000;
	margin:-3px 0 28px 2px;
	text-transform:uppercase;
}
.breadcrumbs ul{
	margin: 0 0 0 -18px;
	padding: 0;
	list-style:none;
	overflow: hidden;
}
.breadcrumbs li{
	float: left;
	padding: 0 13px 0 18px;
	position: relative;
}
.breadcrumbs li:after{
	content:"";
	position: absolute;
	top:3px;
	left:0;
	width: 4px;
	height: 7px;
	background: url('../images/sprite.png') no-repeat 0 -140px;
}
.breadcrumbs a{color:#666;}
.products-section{
	overflow: hidden;
	font-size: 13px;
	line-height: 19px;
	color:#000;
	padding: 1px 0 0;
}
#content .products-section h1{
	font-size: 24px;
	line-height: 26px;
	color:#333;
	margin: 0 0 10px;
	text-transform: uppercase;
}
.products-section p{margin: 0 0 23px;}
.filter-panel{
	overflow: hidden;
	margin: 0 0 13px;
	padding: 0 0 15px;
	border-bottom: 2px solid #ccc;
}
.filter-panel .view-list{
	float: right;
	margin: 0;
	padding: 5px 0 0 15px;
	list-style:none;
}
.filter-panel .view-list li{
	float: left;
	margin:0 0 0 5px;
}
.filter-panel .view-list a{
	float:left;
	text-indent: -9999px;
	overflow: hidden;
	width: 23px;
	height: 15px;
	background: url('../images/sprite.png') no-repeat -20px -140px;
}
.filter-panel .view-list .active a,
.filter-panel .view-list a:hover{background-position: -20px -160px;}
.filter-panel .view-list .view-1{
	width: 19px;
	height: 15px;
	background: url('../images/sprite.png') no-repeat -48px -140px;
}
.filter-panel .view-list .active .view-1,
.filter-panel .view-list .view-1:hover{background-position:-48px -160px; }
.filter-panel .view-list .view-2{
	width: 23px;
	height: 15px;
	background: url('../images/sprite.png') no-repeat -72px -140px;
}
.filter-panel .view-list .active .view-2,
.filter-panel .view-list .view-2:hover{background-position:-72px -160px; }
.filter-panel .filter-form{
	float: right;
	font-size: 11px;
	line-height: 13px;
	color:#666;
	text-transform: uppercase;
}
.filter-panel .filter-form select{
	float: left;
	width: 118px;
}
.filter-panel .filter-form select.price{width: 168px;}
.filter-panel .filter-form label{
	float: left;
	padding: 8px 10px 0 23px;
}
.filter-panel .title{
	display: block;
	overflow: hidden;
	font-size: 11px;
	line-height: 13px;
	font-weight: 400;
	color:#666;
	padding: 8px 0 0 2px;
	text-transform: uppercase;
}
.filter-panel .title span{
	float: left;
	margin: 0 14px 0 0;
	color: #000;
}
.filter-panel .title span:first-child{color: #666;}
.paging{
	overflow: hidden;
	font-size: 11px;
	line-height: 13px;
	color:#666;
	margin: 0 0 39px;
	text-align: right;
}
.paging .title{
	text-transform: uppercase;
	display: inline-block;
	vertical-align: top;
	position: relative;
	padding: 0 11px 0 0;
}
.paging .title:after{
	content:"";
	position: absolute;
	top:3px;
	right: 0;
	width: 4px;
	height: 7px;
	background: url('../images/sprite.png') no-repeat 0 -140px;
}
.paging ul{
	display: inline-block;
	vertical-align:top;
	overflow: hidden;
	margin: 0;
	padding: 0;
	list-style: none;
}
.paging li{
	float: left;
	padding: 0 0 0 16px;
}
.paging a{color:#666;}
.paging .active a,
.paging a:hover{color: @green;}
.paging .active a:hover{
	cursor: default;
	text-decoration: none;
}
.paging .next{
	position: relative;
	padding: 0 9px 0 0;
}
.paging .next:after{
	content:"";
	background: url('../images/sprite.png') no-repeat -20px -180px;
	width: 4px;
	height: 7px;
	position: absolute;
	top:3px;
	right:0;
}
.products-list{
	overflow: hidden;
	margin: -19px 0 0 -1px;
	padding:0 0 10px;
	list-style:none;
}
.products-list li{
	float:left;
	width: 181px;
	border:solid #ccc;
	padding: 0 10px 20px;
	margin: 19px 0 0;
	border-width: 0 0 1px 1px;
}
.products-list .img-holder{
	overflow: hidden;
	position:relative;
	margin: 0 -10px 31px;
}
.products-list .img-holder img{vertical-align: top;}
.products-list .btn-details{
	position: absolute;
	bottom:48px;
	left:50%;
	margin: 0 0 0 -67px;
	font-size: 12px;
	line-height: 14px;
	color:#fff;
	padding: 2px;
	text-transform: uppercase;
	text-align: center;
	display: none;
	background: url('../images/btn-details.png');
}
.products-list .btn-details>span{
	display: inline-block;
	vertical-align: top;
	padding:5px 5px 2px;
	border:1px solid #5ca47f;
	width: 114px;
}
.products-list .img-holder:hover .btn-details{display: block;}
.products-list h2{
	font-size: 12px;
	line-height: 15px;
	color:#333;
	margin:0 0 11px;
	min-height: 30px;
}
.products-list h2 a{color:#333;}
.products-list .holder{overflow: hidden;}
.products-list  .price{
	float: right;
	font-size: 12px;
	line-height: 14px;
	color:#333;
	padding: 6px 0 0;
}
.products-list .btn-add{
	display: inline-block;
	vertical-align: top;
	border:1px solid #ccc;
	position:relative;
	font-size: 10px;
	line-height: 13px;
	color: @green;
	padding:4px 5px 4px 25px;
	text-transform: uppercase;
}
.products-list .btn-add:after{
	content:"";
	position: absolute;
	top:4px;
	left:5px;
	width: 14px;
	height: 13px;
	background: url('../images/sprite.png') no-repeat -105px -140px;
}
.area{
	overflow: hidden;
	font-size: 13px;
	line-height: 18px;
	color:#000;
	margin: 0 0 61px;
}
.area .btn-block{
	overflow: hidden;
	border:1px solid #ccc;
	padding: 25px 8px 23px 18px;
	margin: 0 0 20px;
}
.area .delivery{
	display: inline-block;
	vertical-align: top;
	position: relative;
	padding:14px 0 15px 66px;
	font:18px/22px 'Bebas', Arial, Helvetica, sans-serif;
	color:#333;
	letter-spacing: -1px;
	text-transform: uppercase;
}
.area .delivery:after{
	content:"";
	position: absolute;
	top:0;
	left:0;
	width: 50px;
	height: 50px;
	background: url('../images/sprite.png') no-repeat -450px 0;
}
.area .social-section{
	float: right;
	width: 230px;
	margin: 0 0 0 30px;
}
.area .social-holder{
	border:1px solid #ccc;
	padding:14px 11px 24px;
	font-size: 13px;
	line-height: 15px;
	color:#333;
	margin: 0 0 20px;
	text-transform: uppercase;
}
.area .social-holder .share{
	display: block;
	margin: 0 0 14px;
	letter-spacing: 2px;
	font-weight: bold;
}
.area .social-networks{
	margin: 0 -10px 0 4px;
	padding: 0;
	list-style:none;
	overflow: hidden;
}
.area .social-networks li{
	float: left;
	margin: 0 10px 0 0;
}
.area .social-networks a{
	float:left;
	width: 32px;
	height: 32px;
	text-indent: -9999px;
	overflow: hidden;
	background: url('../images/sprite.png') no-repeat -73px -209px;
}
.area .social-networks .facebook{background-position: -73px -209px;}
.area .social-networks .twitter{background-position: -115px -209px;}
.area .social-networks .google{background-position: -157px -209px;}
.area .social-networks .pinterest{background-position: -200px -209px;}
.area .social-networks .email{background-position: -242px -209px;}
.area .social-networks .facebook:hover{background-position: -73px -250px;}
.area .social-networks .twitter:hover{background-position: -115px -250px;}
.area .social-networks .google:hover{background-position: -157px -250px;}
.area .social-networks .pinterest:hover{background-position: -200px -250px;}
.area .social-networks .email:hover{background-position: -242px -250px;}
.area .send{
	display: inline-block;
	vertical-align: top;
	padding: 8px 0 0 62px;
	font:20px/22px 'Bebas', Arial, Helvetica, sans-serif;
	color:#333;
	position: relative;
	text-transform: uppercase;
}
.area .send:after{
	content:"";
	position: absolute;
	top:0;
	left:0;
	width: 50px;
	height: 50px;
	background: url('../images/sprite.png') no-repeat -450px -70px;
}
.area .send > span{
	display: inline-block;
	vertical-align: top;
	font:11px/13px 'proxima-nova', Arial, Helvetica, sans-serif;
	padding: 3px 0 0;
	letter-spacing: 2px;
}
.area .product-block{
	float:left;
	width: 340px;
	margin: 0 30px 0 0;
}
.product-gallery{
	overflow: hidden;
	position:relative;
	margin:0 0 50px;
}
.product-gallery .btn-prev{
	position: absolute;
	top:50%;
	left:0;
	margin: -7px 0 0;
	text-indent: -9999px;
	overflow: hidden;
	width: 29px;
	height: 30px;
	background:#ccc url('../images/sprite.png') no-repeat 11px -199px;
}
.product-gallery .btn-prev:hover{background: @green url('../images/sprite.png') no-repeat 11px -230px;}
.product-gallery .btn-next{
	position: absolute;
	top:50%;
	right:1px;
	margin: -7px 0 0;
	text-indent: -9999px;
	overflow: hidden;
	width: 29px;
	height: 30px;
	background:#ccc url('../images/sprite.png') no-repeat -15px -199px;
}
.product-gallery .btn-next:hover{background: @green url('../images/sprite.png') no-repeat -15px -230px;}
.product-gallery .frame{
	overflow: hidden;
	border:1px solid #ccc;
}
.product-gallery .slideset{
	overflow: hidden;
	width: 9999px;
}
.product-gallery .slide{
	float: left;
	width: 338px;
	padding: 23px 0;
}
.product-gallery .slide img{vertical-align: top;}
.others-products{
	overflow: hidden;
}
.others-products h2{
	margin: 0 0 20px;
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	color:#000;
	padding: 0 5px 5px;
	text-transform: uppercase;
	border-bottom:3px solid #ccc;
}
.others-products .image-list{
	margin: 0 -20px 0 0;
	padding: 0;
	list-style:none;
	overflow: hidden;
	text-align: center;
	font-size: 10px;
	line-height: 12px;
	color: @green;
}
.others-products .image-list li{
	float:left;
	margin: 0 20px 0 0;
}
.others-products .image-list img{
	border:1px solid #ccc;
	display: block;
	margin: 0 0 7px;
}
.area .text-block{overflow: hidden;}
.area h1{
	font-size: 16px;
	line-height: 16px;
	font-weight: 700;
	color:#333;
	margin: 0 0 3px;
}
.area .price{
	font-size: 16px;
	line-height: 18px;
	display: block;
	margin: 0 0 10px;
}
.area .text-block p{margin: 0 0 19px;}
.area .stock{
	display: block;
	font-size: 12px;
	line-height: 14px;
	color:#c00;
	margin: 0 0 34px;
}
.area .detail-form{
	overflow: hidden;
	margin: 0 0 20px;
}
.area .detail-form .row{
	overflow: hidden;
	padding: 0 0 10px;
}
.area .detail-form .text{
	float: left;
	width: 46px;
	margin: 3px 22px 0 0;
	text-align: right;
	font-size: 10px;
	line-height: 12px;
	font-weight: bold;
	color:#000;
}
.area .detail-form .text.text-2{padding-top: 6px;}
.area .detail-form .text.text-3{padding-top: 4px;}
.area .size-list{
	margin: 0;
	padding: 0;
	list-style: none;
	width: 230px;
	overflow: hidden;
	font-size: 9px;
	line-height: 12px;
	color:#333;
	text-transform: uppercase;
}
.area .size-list li{
	float: left;
	padding:0 10px 10px 0;
}
.area .size-list label{
	float:left;
	border:1px solid #ccc;
	width: 34px;
	text-align: center;
	color:#333;
	padding:3px 5px;
}
.area .size-list .jcf-label-active{
	color:#fff;
	background: @green;
	border-color: @green;
	text-decoration: none;
}
.area .color-list{
	margin: 0 0 5px;
	padding: 0;
	list-style:none;
	overflow: hidden;
}
.area .color-list li{
	float:left;
	padding: 0 7px 5px 0;
}
.area .color-list label{
	text-indent: -9999px;
	overflow: hidden;
	font-size: 0;
	line-height: 0;
	float: left;
	width: 28px;
	height: 28px;
	border:1px solid #ccc;
	background: #000;
	-webkit-box-shadow: inset 0px 0px 0px 1px #fff;
	box-shadow: inset 0px 0px 0px 1px #ffffff;
}
.area .color-list .color-1{background: #036;}
.area .color-list .color-2{background: #9c0;}
.area .color-list .color-3{background: #f60;}
.area .color-list .jcf-label-active{border-color:#1d814e;}
.detail-form .qty-holder{
	width: 50px;
	float: left;
	padding: 0 13px 0 0;
	position: relative;
}
.detail-form .qty-holder input[type=text]{
	float: left;
	width: 100%;
	font-size: 13px;
	line-height: 16px;
	height: 26px;
	color:#333;
	padding: 4px 5px;
	border:1px solid #ccc;
	text-align: center;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.detail-form ::-webkit-input-placeholder{color:#333;}
.detail-form :-moz-placeholder{color:#333;}
.detail-form ::-moz-placeholder{
	color:#333;
	opacity:1;
}
.detail-form :-ms-input-placeholder{color:#333;}
.detail-form .qty-holder .btn-more{
	position: absolute;
	top:0;
	right: 0;
	width: 11px;
	height: 12px;
	text-indent: -99999px;
	overflow: hidden;
	background: url('../images/sprite.png') no-repeat 0 -290px;
}
.detail-form .qty-holder .btn-less{
	position: absolute;
	bottom:0;
	right: 0;
	width: 11px;
	height: 12px;
	text-indent: -99999px;
	overflow: hidden;
	background: url('../images/sprite.png') no-repeat 0 -304px;
}
.detail-form .btn-holder{
	overflow: hidden;
	padding: 26px 0 0;
}
.detail-form .btn-add{
	float: left;
	font: bold 16px/18px 'proxima-nova', Arial, Helvetica, sans-serif;
	color:#fff;
	margin: 0 26px 0 0;
	padding: 12px 20px 11px;
	text-align: center;
	border:none;
	letter-spacing: 1px;
	background: @green;
	cursor:pointer;
}
.btn-favorites{
	display: inline-block;
	vertical-align: top;
	font-size: 10px;
	line-height: 12px;
	font-weight: bold;
	color:#999;
	padding: 1px 0 0 26px;
	margin: 13px 0 0;
	position: relative;
}
.btn-favorites:after{
	content:"";
	position: absolute;
	top:0;
	left:0;
	width: 20px;
	height: 20px;
	background: url('../images/sprite.png') no-repeat -20px -290px;
}
.area .tabset{
	position: relative;
	margin: 0 0 0 -5px;
	padding: 0;
	list-style: none;
	font-size: 10px;
	line-height: 12px;
	color:#666;
	text-transform: uppercase;
}
.area .tabset:after{
	content:"";
	clear: both;
	display: block;
}
.area .tabset li{
	float: left;
	margin: 0 0 0 5px;
}
.area .tabset a{
	float: left;
	border:solid #ccc;
	border-width: 1px 1px 0;
	color:#666;
	position: relative;
	padding: 10px 11px;
}
.area .tabset .review{
	padding-right: 72px;
}
.area .tabset .review:after{
	content:"";
	position: absolute;
	top:10px;
	right: 6px;
	width: 56px;
	height: 12px;
	background: url('../images/sprite.png') no-repeat -60px -290px;
}
.area .tabset a:hover{
	color:#333;
	text-decoration: none;
}
.area .tabset a.active{
	color:#333;
	text-decoration: none;
}
.area .tabset a.active:before{
	content:"";
	position: absolute;
	bottom: -1px;
	left:0;
	width: 100%;
	height: 1px;
	background: #fff;
}
.area .tab-content{
	overflow: hidden;
	padding: 15px 16px 12px;
	border:1px solid #ccc;
}
.area .tab-content h2{
	margin: 0 0 10px;
	font-size: 13px;
	line-height: 15px;
	font-weight: 400;
	color:#333;
}
.area .tab-content .list{
	overflow: hidden;
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 12px;
	line-height: 17px;
	color:#666;
}
.area .tab-content .list li{
	position: relative;
	padding: 0 0 0 12px;
}
.area .tab-content .list li:after{
	content:"";
	position: absolute;
	top:5px;
	left:0;
	width: 4px;
	height: 7px;
	background: url('../images/sprite.png') no-repeat 0 -140px;
}
.area .tab-content .list a{color:#666;}
.cart-section{
	overflow: hidden;
	display: table;
	width: 100%;
	margin: 0 0 48px;
}
.cart-section .info-section{
	width: 390px;
	padding: 27px 0 0 31px;
	display: table-cell;
}
.info-section .title{
	font-size: 14px;
	line-height: 16px;
	color:@blue;
	text-transform: uppercase;
}
.info-section .title span{color: @green;}
.info-section .info-row{
	border-top:1px solid #ccc;
	overflow: hidden;
	padding: 27px 0 23px;
}
.info-section .info-row img{
	float: left;
	margin: 3px 19px 0 0;
}
.info-section .info-row .text-holder{overflow: hidden;}
.info-section .info-row .heading-row{
	overflow: hidden;
	font-size: 16px;
	line-height: 16px;
	font-weight: 700;
	color:#333;
	margin: 0 0 9px;
}
.info-section .info-row .heading-row .holder{
	float: right;
	text-align: right;
	margin: 0 0 0 25px;
	padding: 6px 0 0;
}
.info-section .info-row .price{
	display: inline-block;
	vertical-align: top;
	font-size: 15px;
	margin: 0 0 18px;
}
.info-section .info-row .btn-list{
	overflow: hidden;
	text-align: left;
	margin: 0;
	padding: 0;
	list-style: none;
}
.info-section .info-row .btn-list li{
	float: left;
	margin: 0 0 0 11px;
}
.info-section .info-row .btn-list  a{
	float: left;
	width: 14px;
	height: 14px;
	text-indent: -9999px;
	overflow: hidden;
	background: url('../images/sprite.png') no-repeat -140px -290px;
}
.info-section .info-row .btn-list .btn-delete{background-position: -165px -290px;}
.info-section .info-row h3{
	margin: 0;
	font-size: 16px;
	line-height: 16px;
	font-weight: 700;
	color:#333;
}
.info-section .info-row h3 a{color:#333;}
.info-section .info-row .detail-list{
	margin: 0;
	font-size: 10px;
	line-height: 16px;
	color:#000;
	overflow: hidden;
	text-transform: uppercase;
}
.info-section .info-row .detail-list dt{
	float: left;
	margin: 0 8px 0 0;
}
.info-section .info-row .detail-list dd{
	font-weight: 700;
	font-size: 14px;
	margin: 0;
	padding: 0 0 5px;
	overflow: hidden;
}
.info-section .info-row .detail-list .color{
	display: inline-block;
	vertical-align: top;
	width: 13px;
	height: 13px;
	background: #000;
	text-indent: -9999px;
	overflow: hidden;
}
.info-section .info-list{
	margin: 0;
	padding: 7px 0 0;
	overflow: hidden;
	font-size: 13px;
	line-height: 17px;
	color:#000;
	text-transform: uppercase;
}
.info-section .info-list dt{
	float: left;
	width: 130px;
	padding: 0 7px 0 0;
}
.info-section .info-list dt.last{padding-top: 9px;}
.info-section .info-list dd{
	margin: 0;
	padding: 0 0 11px;
	text-align: right;
	overflow: hidden;
	font-weight: 700;
	font-size: 15px;
	line-height: 17px;
}
.info-section .info-list dd.last{padding-top: 3px;}
.info-section input[type="text"]{
	float: left;
	width: 137px;
	height: 16px;
	font-size: 13px;
	line-height: 16px;
	color:#000;
	margin: 0;
	padding: 5px 10px;
	border:solid #ccc;
	border-width: 1px 0 1px 1px;
	background: #fff;
}
.info-section .btn-apply{
	float: left;
	width:95px;
	height: 28px;
	margin: 0;
	padding: 0;
	color:#fff;
	letter-spacing: 1px;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
	border:0;
	background: @blue;
	font: bold 12px 'proxima-nova', Arial, Helvetica, sans-serif;
}
.info-section .btn-holder{
	overflow: hidden;
	padding: 33px 0 0;
}
.info-section input[type="submit"]{
	float: right;
	width: 180px;
	height: 40px;
	padding: 0;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
	color:#fff;
	font: bold 20px 'proxima-nova', Arial, Helvetica, sans-serif;
	cursor:pointer;
	background: @green;
	border:0;
}
.info-section .btn-holder .link{
	float: right;
	clear: right;
	font-size: 12px;
	line-height: 14px;
	font-weight: 700;
	color:#666;
	letter-spacing: 1px;
	margin: 14px 0 0;
	text-transform: uppercase;
}
.step-form{
	display: table-cell;
	vertical-align: top;
}
.step-form .error-text{
	display:none;
	margin: -5px 0 0;
	color: #f00;
	text-align: right;
	font-size: 12px;
	line-height: 20px;
}
.step-form .error .error-text {display:block;}
.step-form .step-list{
	margin: 0 0 1px;
	padding: 0;
	letter-spacing: 1px;
	list-style: none;
	overflow: hidden;
	font-size: 12px;
	line-height: 14px;
	font-weight: 700;
}
.step-form .step-list li{
	float: left;
	margin: 0 0 0 -15px;
	position: relative;
}
.step-form .step-list li:first-child{margin: 0;}
.step-form .step-list a{
	float:left;
	padding: 15px 12px 11px 24px;
	background: #c8c8c8;
	color:#656565;
	position: relative;
	margin: 0 15px 0 0;
}
.step-form .step-list li:first-child a{padding-left: 12px;}
.step-form .step-list a:after{
	content:"";
	position: absolute;
	top:0;
	left:100%;
	width: 15px;
	height: 40px;
	background: url('../images/sprite.png') no-repeat 0 -325px;
}
.step-form .step-list a:hover,
.step-form .step-list a.active{
	color:#fff;
	background: @green;
	text-decoration: none;
}
.step-form .step-list a:hover:after,
.step-form .step-list a.active:after{
	background-position: -20px -325px;
	content:' ';
}
.step-form .step-holder{
	background: #f0f0f0;
	overflow: hidden;
	padding: 20px 19px 20px 20px;
}
.step-form h2{
	font-size: 12px;
	line-height: 14px;
	font-weight: normal;
	color:@blue;
	text-transform: uppercase;
	margin: 0 0 17px;
}
.step-form .row{
	overflow: hidden;
	padding: 0 0 9px;
}
.step-form label{
	display: block;
	font-size: 11px;
	line-height: 13px;
	color:#666;
	margin: 0 0 7px;
	text-transform: uppercase;
}
.step-form  .select-holder{
	overflow: hidden;
	padding: 0 0 7px;
}
.step-form select{
	float: left;
	width: 222px;
}
.step-form .col{
	float:left;
	width: 320px;
	margin: 0 0 0 10px;
}
.step-form .col:first-child{margin: 0;}
.step-form .row input[type="text"]{
	display: block;
	width: 100%;
	font-size: 13px;
	line-height: 16px;
	height: 34px;
	color:#000;
	margin:0 0 10px;
	padding: 8px 10px;
	border:1px solid #ccc;
	background:#fff;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.step-form .error input[type="text"]{border-color: #f00;}
.step-form .col.small{width: 210px;}
.step-form .btn-holder{
	overflow: hidden;
}
.step-form .btn-next{
	float: right;
	position: relative;
	background: @green;
	color:#fff;
	text-transform: uppercase;
	margin: 0;
	letter-spacing: 1px;
	padding: 7px 26px 7px 8px;
	list-style: none;
	border:0;
	cursor:pointer;
	font: bold 11px 'proxima-nova', Arial, Helvetica, sans-serif;
}
.step-form .btn-next:after{
	content:"";
	position: absolute;
	top:12px;
	right: 10px;
	width: 6px;
	height: 5px;
	background: url('../images/sprite.png') no-repeat -70px -180px;
}
.step-form .btn-next input[type="submit"] {
	background:none;
	line-height:0;
	font-size:0;
	text-indent:-9999px;
	overflow:hidden;
	padding:0;
	border:0;
	cursor:pointer;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:10;
}
#sidebar .ad{
	display: inline-block;
	vertical-align: top;
	border:1px solid #cdcdcd;
	margin: 0 0 20px;
}
#sidebar .ad-2{border: 2px solid #999;}
#sidebar .ad img{vertical-align: top;}
.detail-section{
	padding: 0 0 26px;
	overflow: hidden;
}

.category-list {
	overflow: hidden;
	width: 100%;
	margin: 0;
	padding: 0 0 14px;
	list-style: none;
	font-size: 12px;
	line-height: 14px;
	font-weight: bold;
	letter-spacing: 1px;
	color:#fff;
	text-transform: uppercase;
	display: table;

	li {
		display: table-cell;
	}

	a {
		display: block;
		margin: 0 0 0 4px;
		padding: 7px 5px;
		background: @blue;
		color: #fff;
		text-align: center;
		position: relative;

		&:after {
			content: "";
			display: none;
			position: absolute;
			bottom: -4px;
			left: 50%;
			width: 7px;
			height: 4px;
			margin: 0 0 0 -3px;
			background: url('../images/sprite.png') no-repeat -205px -290px;
		}
	}
}
.category-list li:first-child a{margin: 0;}
.category-list a.active,
.category-list a:hover{
	background: @green;
	text-decoration: none;
}
.category-list a.active:after,
.category-list a:hover:after{
	display: block;
	content:' ';
}

.detail-section .tab-content{
	overflow: hidden;
}
.mobile-heading,
.mobile-categories{display: none;}
.info-table{
	width: 100%;
	margin: -1px 0 0;
	border-collapse: collapse;
	font-size: 12px;
	line-height: 14px;
	font-weight: bold;
	color:#666;
	text-align: center;
}
.info-table em{display: none;}
.info-table td,
.info-table th{
	padding: 8px 0 7px;
	border-bottom: 1px dotted #ccc;
}
.info-table td:first-child,
.info-table th:first-child{
	width: 26.5%;
	text-align: left;
	color: @green;
	padding: 8px 1.97% 7px;
	background-position-x: 0.75em !important;
}
.info-table th:first-child{color: #333;}
.info-table .percent{width: 10.86%;}
.info-table .pts{width: 10.61%;}
.info-table th{
	border: 0;
	background: #f0f0f0;
	color: #333;
	padding: 9px 0 8px;
}

#content {
	.detail-section {
		h1 {
			margin: 0;
			font-size: 24px;
			line-height: 26px;
			color: @green;
			text-transform: uppercase;
			letter-spacing: 1px;

			a.calendar {
				float: right;
			}
		}

		h2 {
			margin: 0 0 21px;
			font-size: 18px;
			line-height: 20px;
			font-weight: 400;
			color:#333;
			letter-spacing: 1px;
			text-transform: uppercase;
		}

		h3 {
			margin: 27px 0 15px;
			font-size: 20px;
			line-height: 24px;
			color: @green;
			letter-spacing: 1px;
			text-transform: uppercase;
			font-weight: 400;
		}
	}
}

.round-section{
	overflow: hidden;
}
.detail-section .title{
	margin: 0 0 1px;
	background:#f0f0f0;
	font-size:14px;
	line-height: 16px;
	color:#333;
	letter-spacing: 1px;
	padding: 12px 15px;
}
.round-table{
	width: 100%;
	margin: 0 0 20px;
	border-collapse: collapse;
	font-size: 12px;
	line-height: 15px;
	font-weight: bold;
	color:#666;
	border-bottom:1px dotted #ccc;
}
.round-table em{
	font-style: normal;
	display: none;
}
.round-table td{
	padding: 8px 0 6px;
	vertical-align: middle;
	border-top:1px dotted #ccc;
}
.round-table td.label{width:20%;}
.round-table td.time{
	width: 10%;
}
.round-table td.field{width: 10%;}
.round-table td.team{
	width:20%;
	color: @green;
}
.round-table td.team.home{
	background-position-x: right !important;
	padding-right: 22px;
	text-align: right;
}
.round-table td.team.away{
	background-position-x: left;
	padding-left: 22px;
}
.round-table td.score{
	width:6.5%;
	color:#666;
	text-align:center;
}
.round-table td.versus{
	width:5%;
	text-align:center;
}
.round-table td.report{
  width:2%;
}
.round-table td:first-child+td+td+td+td,
.round-table td:first-child+td+td+td+td+td+td{
	color: @blue;
}
.round-table .round{
	display: inline-block;
	vertical-align: top;
	color:#fff;
	margin:-7px 0;
	letter-spacing: 1px;
	padding: 6px 18px;
	background: @green;
}

.round-table a.video {
	display: inline-block;
	float: right;
	height: 16px;
	margin-right: 0.5em;
	width: 16px;

	&:hover {
		color: @blue;
	}
}

/* hide original element */
.jcf-hidden {
	display: block !important;
	position: absolute !important;
	left: -9999px !important; /* change to right: -9999px on RTL sites */
}
/* custom select styles */
.select-area {
	border: 1px solid #ccc;
	position: relative;
	overflow: hidden;
	cursor: default;
	height:23px;
	float: left;
	font-size:11px;
	line-height: 13px;
	color:#000;
	text-transform: none;
	background: #fff;
}
.select-area .center {
	display: block;
	white-space: nowrap;
	padding: 5px 7px 0 7px;
}
.select-area .select-opener{
	position: absolute;
	height: 23px;
	width: 21px;
	right: 0;
	top: 0;
	cursor:pointer;
	background: url('../images/sprite.png') no-repeat 7px -170px;
}
.select-options {
	position: absolute;
	overflow: hidden;
	background: #fff;
	z-index: 2000;
	font-size:11px;
	line-height: 13px;
	color:#000;
}
.select-options .drop-holder {
	border: 1px solid #ccc;
	overflow: hidden;
	height: 1%;
}
.select-options ul {
	list-style: none;
	overflow: hidden;
	padding: 0;
	margin: 0;
}
.select-options ul li {
	width: 100%;
	float: left;
}
.select-options ul a {
	text-decoration: none;
	padding: 5px 10px;
	display: block;
	cursor: default;
	color: #000;
	height: 1%;
}
.select-options .item-selected a {
	text-decoration: none;
	background: @blue;
	color: #fff;
}
.select-country.select-area{
	font-size: 13px;
	line-height: 16px;
	color:#000;
	height: 32px;
}
.select-country.select-area .center{padding:8px 26px 8px 9px;}
.select-country.select-area .select-opener{
	background-position: 6px -166px;
	width: 23px;
	height: 32px;
}
.select-options.drop-country{
	font-size: 13px;
	line-height: 16px;
}
body.news div.img {
	float: right;
	margin-left: 10px;
}
.cat-menu,
.mobile-paging,
.area .mobile-top,
.main-info,
.mobile-details,
.desktop-hidden{display: none;}
/**** */
@media only screen and (max-width: 1199px){
	.tablet-hidden{display: none !important;}
	.desktop-hidden{display: block !important;}
	.flag{background-size: 16px 16px;}
	.w1{padding: 0;}
	.result-section{margin: 0 0 10px;}
	.promo-gallery{
		float: none;
		margin: 0 auto 10px;
	}
	.side-col{
		float: none;
		width: auto;
		text-align: center;
	}
	.side-col > *{
		display: inline-block;
		vertical-align: top;
		margin: 0 10px 10px;
		text-align: left;
	}
	.featured-box{width: 320px;}
	.result-section .heading{
		width: 748px;
		margin: 0 auto;
	}
	.res-slider .slide{
		width: 256px;
	}
	.res-slider.carousel-desktop{
		position: absolute;
		left: -9999px;
		top: -9999px;
	}
	.res-slider.carousel-tablet{
		position: relative;
		left: auto;
		top: auto;
		width: 768px;
		margin: 0 auto;
	}
	.social-section{
		float: none;
		margin: 0 auto 10px;
	}
	.photo-gallery{
		float: none;
		margin: 0 auto 10px;
	}
	.sponsor-section{
		padding: 0 10px 20px;
		margin: 0 0 10px;
	}
	.ad-section{
		margin: 0 0 10px;
	}
	#footer{
		padding: 20px 10px;
		margin: 0;
	}
	.social-block{margin: 0 0 10px;}
	.copy-block{
		float: none;
		display: inline-block;
		padding: 0;
	}
	.nav{margin: 0 20px 30px 0;}
	#footer h3{margin: 0 0 20px;}
	.nav li{margin: 0 10px 4px 0;}
	.social-networks{padding: 0;}
	#content,
	#sidebar{
		float: none;
		width: auto;
		padding: 0 10px;
	}
	.doc-list .btn{padding: 5px 8px;}
	.content-block{padding: 10px 0;}
	#sidebar .ad{
		margin: 0 6px 10px 0;
	}
	.breadcrumbs{margin: 20px 10px;}
	.products-list li{
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		width: 33.3%;
	}
	.products-list .img-holder img{
		display: block;
		margin: 0 auto;
	}
	.area{padding: 0 10px;}
	.area .social-section{display: none;}
	.area .tabset .review:after{display: none;}
	.area .tabset a,
	.area .tabset .review{padding: 10px 5px;}
	.cart-section{
		width: auto;
		display: block;
	}
	.cart-section .info-section{
		float: none;
		display: block;
		margin: 0 0 20px;
		width: auto;
		padding: 0;
	}
	.cart-section{
		padding: 0 10px;
	}
	.step-form{display: block;}
}
@media only screen and (max-width: 767px){
	#header{
		margin: 0 0 8px;
		padding: 39px 0 0;
	}
	#header .bar img{display: none;}
	.logo{
		margin: 0 0 1px 10px;
		display: block;
		position: static;
		left: auto;
		top: auto;
		background: url('../images/logo-small2x.png') no-repeat;
		background-size: 149px 47px;
		width: 149px;
		height: 47px;
	}
	#nav{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		border: 1px solid #fff;
		background: @green;
	}
	#nav ul{
		z-index: 999;
		position: absolute;
		right: 0;
		top: 100%;
		width: 100%;
		background: @green;
		display: none;
	}
	#nav ul a{background: none;}
	#nav li{
		display: block;
		border-bottom: 1px solid #fff;
	}
	#nav .opener{
		display: block;
		margin: 3px 3px 4px 3px;
		float: right;
		text-indent: -9999px;
		overflow:hidden;
		width: 28px;
		height: 19px;
		background: url('../images/sprite-small2x.png') no-repeat;
		background-size: 250px 250px;
	}
	.result-section{
		position: absolute;
		left: -9999px;
		top: -9999px;
		margin: 0 10px 20px;
		background: @blue;
	}
	.result-section.mobile{
		position: relative;
		left: auto;
		top: auto;
	}
	.result-section .heading{width: auto;}
	.result-section .heading .title{display: none;}
	.result-section .heading{padding: 15px 0 0 5px;}
	.result-section .tabset{font-size: 10px;}
	.result-section .tabset li{margin: 0 2px 0 0;}
	.result-section .tabset a{
		padding: 1px 8px;
		letter-spacing: 0;
	}
	.res-slider .date{
		font-size: 12px;
		padding: 6px 0 0;
		margin: 0 0 5px;
	}
	.res-slider .title-row .item{margin: 0 0 0 164px;}
	.res-slider .slide:after{display: none;}
	.res-slider .slide{width: 300px;}
	.res-slider .slide-holder{
		width: auto;
		text-align: center;
	}
	.res-slider .title-row{
		font-size: 15px;
		line-height: 19px;
		position: absolute;
		left: 0;
		top: 46px;
		width: 100%;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	}
	.res-slider .slider-nav{
		position: static;
		right: auto;
		top: auto;
	}
	.res-slider .btn-prev{
		margin: 0;
		position: absolute;
		top: 50px;
		left: 10px;
		background: url('../images/sprite-small2x.png') no-repeat -36px 0;
		background-size: 250px 250px;
		width: 7px;
		height: 11px;
	}
	.res-slider .btn-next{
		margin: 0;
		position: absolute;
		top: 50px;
		right: 10px;
		background: url('../images/sprite-small2x.png') no-repeat -48px 0;
		background-size: 250px 250px;
		width: 7px;
		height: 11px;
	}
	.res-slider .title-row img{display: none;}
	.res-slider .title-row .item:before{display: none;}
	.res-slider .scores{
		width: 151px;
		margin: 0 auto 3px;
		font-size: 40px;
		line-height: 46px;
	}
	.res-slider .links{
		text-align: center;
		width: auto;
	}
	.res-slider .links a{
		margin: 0 -3px;
		display: inline-block;
		vertical-align: middle;
		float: none;
		width: 75px;
	}
	.res-slider .links a:before{display: none !important;}
	.promo-gallery{
		position: relative;
		width: auto;
		padding: 0 10px;
	}
	.promo-gallery .mask{min-height: 1px;}
	.promo-gallery .caption{
		position: static;
		background: none;
		color: #333;
		font-size: 10px;
		line-height: 12px;
		padding: 10px 0 8px;
	}
	.promo-gallery .caption h1{
		font-size: 15px;
		line-height: 21px;
		color: @green;
		margin: 0 0 6px;
	}
	.promo-gallery .switcher{
		z-index: 20;
		position: absolute;
		right: 20px;
		top: 135px;
		width: auto;
	}
	.promo-gallery .switcher li{
		float: left;
		margin: 0 0 0 2px;
		width: 8px;
		height: 8px;
	}
	.promo-gallery .switcher a{
		display: block;
		width: 100%;
		height: 100%;
		text-indent: -9999px;
		overflow:hidden;
		background: #fff;
		padding: 0;
	}
	.promo-gallery .switcher a:hover,
	.promo-gallery .switcher a.active,
	.promo-gallery .switcher .active a{background: @green;}
	.promo-gallery .switcher img,
	.promo-gallery .switcher span{display: none;}
	.ad-holder{display: none;}
	.social-section{display: none;}
	.featured-box{
		width: 300px;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		margin: 0 0 20px;
		text-align: center;
		padding: 12px 10px 13px;
	}
	.featured-box img{
		float: none;
		display: block;
		margin: 0;
	}
	.featured-box > span{
		margin: 0 4px 0 10px;
		display: inline-block;
		vertical-align: middle;
	}
	.featured-box .frame{
		text-align: left;
		display: inline-block;
		vertical-align: middle;
		width: 145px;
	}
	.featured-box h2{
		margin: 0 0 -2px;
		font-size: 9px;
		line-height: 11px;
	}
	.featured-box h3{
		margin: 0 0 5px;
		font-size: 13px;
		line-height: 17px;
	}
	.featured-box .btn{
		letter-spacing: 0;
		font-size: 10px;
		line-height: 12px;
		padding: 4px 0;
		min-width: 66px;
		margin: 0 2px 0 0;
	}
	.section{
		margin: 0 auto;
		width: 320px;
	}
	.photo-gallery{
		margin: 0 10px 16px;
		width: auto;
	}
	.photo-gallery .heading h2{
		font-size: 15px;
		line-height: 15px;
	}
	.photo-gallery .heading .link{
		font-size: 9px;
		line-height: 11px;
		margin: 1px 0 0;
	}
	.photo-gallery .heading h2{
		padding: 0;
		margin: 0;
	}
	.photo-gallery .heading h2:before{
		margin: 0 5px 0 0;
		background: url('../images/sprite-small2x.png') no-repeat -61px 0;
		background-size: 250px 250px;
		width: 16px;
		height: 15px;
	}
	.photo-gallery .heading{
		border-width: 2px;
		margin: 0 0 10px;
	}
	.photo-gallery .visual{
		padding: 0;
		background: none;
		width: auto;
		height: auto;
		margin: 0;
	}
	.photo-gallery .slide{width: 300px;}
	.photo-gallery .btn-prev,
	.photo-gallery .btn-next{
		left: 0;
		top: 50%;
		margin-top: -6px;
		width: 16px;
		height: 12px;
		background: url('../images/sprite-small2x.png') no-repeat -107px 0;
		background-size: 250px 250px;
	}
	.photo-gallery .btn-next{
		left: auto;
		right: 0;
		background-position: -127px 0;
	}
	.sponsor-section{
		border: none;
		width: 300px;
		padding-bottom: 0;
		margin: 0 auto 16px;
	}
	.sponsor-section h2{
		font-size: 15px;
		line-height: 19px;
		margin: 0 0 9px;
	}
	#footer{
		border-width:2px;
		margin: 0 10px;
		padding: 18px 0 20px;
	}
	.nav{
		width: 215px;
		float: none;
		margin: 0 auto 11px;
		text-align: center;
	}
	.nav ul{
		font-size: 9px;
		line-height: 12px;
	}
	#footer h3{
		font-size: 13px;
		line-height: 15px;
		margin: 0 0 6px;
	}
	.social-block{
		float: none;
		width: auto;
		text-align: center;
		overflow: hidden;
	}
	.copy-block{
		display: block;
		text-align: center;
		width: auto;
		font-size: 9px;
		line-height: 13px;
	}
	.ad-section{display: none;}
	.logo-2{
		width: 55px;
		height: 55px;
		float: none;
		display: block;
		margin: 0 auto 2px;
		background: url('../images/logo-2-small2x.png') no-repeat;
		background-size: 55px 55px;
	}
	.social-networks{margin: -5px 0 7px;}
	.social-networks li{margin: 0 4px;}
	.social-networks a{
		background: url('../images/sprite-small2x.png') no-repeat;
		background-size: 250px 250px;
	}
	.social-networks .facebook{
		width: 5px;
		height: 9px;
		background-position: 0 -25px;
	}
	.social-networks .twitter{
		width: 9px;
		height: 8px;
		background-position: -16px -25px;
	}
	.social-networks .youtube{
		width: 10px;
		height: 7px;
		background-position: -36px -25px;
	}
	.social-networks .instagram{
		width: 9px;
		height: 9px;
		background-position: -58px -25px;
	}
	.sponsor-section .slider{
		display: block;
		width: 300px;
		margin: 0 auto;
		overflow: hidden;
		position: relative;
	}
	.sponsor-section .slider .mask{
		float: left;
		overflow: hidden;
		width: 284px;
	}
	.sponsor-section .slider .slideset{
		float: left;
		width: 99999px;
		overflow: hidden;
		font-size: 0;
		line-height: 0;
	}
	.sponsor-section .slider .slide{
		display: inline-block;
		vertical-align: middle;
		font-size: 0;
		line-height: 0;
		width: 71px;
	}
	.sponsor-section .slider img{
		display: block;
		margin: 0 auto;
	}
	.sponsor-section span{display: block;}
	.sponsor-section .slider .hover{
		position: absolute;
		left: -9999px;
		top: -9999px;
	}
	.sponsor-section .slider a:hover .hover{
		position: static;
		left: auto;
		top: auto;
	}
	.sponsor-section .slider a:hover .default{
		position: absolute;
		left: -9999px;
		top: -9999px;
	}
	.sponsor-section .slider .btn-prev,
	.sponsor-section .slider .btn-next{
		float: left;
		margin: 8px 0 0;
		background: url('../images/sprite-small2x.png') no-repeat;
		background-size: 250px 250px;
		text-indent: -9999px;
		overflow:hidden;
		width: 8px;
		height: 11px;
	}
	.sponsor-section .slider .btn-prev{
		background-position: -82px 0;
	}
	.sponsor-section .slider .btn-next{
		background-position: -92px 0;
	}
	.sponsor-section .list{display: none;}
	.doc-block{
		font-size: 9px;
		line-height: 10px;
		margin: 0 0 4px;
	}
	.doc-list li > div{
		display: block;
		width: auto !important;
	}
	.doc-list .col-1{padding: 0 0 18px;}
	.doc-list .col-2{
		float: left;
		width: 50%;
		padding: 0;
	}
	.doc-list .col-3{
		float: right;
		width: 50%;
	}
	#content h1{
		margin: 5px 0 16px;
		font-size: 15px;
		line-height: 19px;
		font-weight: bold;
	}
	.doc-block h2 a:before{
		left: 10px !important;
		top: 10px !important;
	}
	.doc-block h2 a:after{
		right: 9px;
		top: 13px;
		width: 4px;
		height: 2px;
		background: url('../images/sprite-small2x.png') no-repeat -88px -17px;
		background-size: 250px 250px;
	}
	.doc-block h2 a.word:before{
		background: url('../images/sprite-small2x.png') no-repeat -80px -24px;
		background-size: 250px 250px;
		width: 7px;
		height: 8px;
	}
	.doc-block h2 a.excel:before{
		background: url('../images/sprite-small2x.png') no-repeat -80px -37px;
		background-size: 250px 250px;
		width: 8px;
		height: 8px;
	}
	.doc-block h2 a.pdf:before{
		background: url('../images/sprite-small2x.png') no-repeat -80px -48px;
		background-size: 250px 250px;
		width: 8px;
		height: 8px;
	}
	.doc-block h2 a.other:before{
		background: url('../images/sprite-small2x.png') no-repeat -81px -60px;
		background-size: 250px 250px;
		width: 6px;
		height: 8px;
	}
	.doc-list li{padding: 12px 0 16px;}
	.doc-list li:last-child{background: none;}
	.doc-list .btn:before{
		margin: 5px 5px 0 0;
		background: url('../images/sprite-small2x.png') no-repeat -100px -20px;
		background-size: 250px 250px;
		width: 11px;
		height: 12px;
	}
	.doc-block h2 a{
		padding: 4px 23px;
	}
	.doc-list .btn{
		margin: 4px 0 0;
		font-size: 9px;
		line-height: 22px;
		letter-spacing: 0;
		padding: 0 8px;
		text-align: left;
	}
	.doc-list h3{
		font-size: 14px;
		line-height: 18px;
		font-weight: 600;
		margin: 0;
	}
	.download-form{
		margin: -4px 0 0;
		width: 180px;
	}
	.download-form input[type="text"]{
		font-size: 9px;
		line-height: 15px;
		padding: 2px 5px 3px;
		height: 22px;
	}
	.download-form input[type="submit"]{
		width: 55px;
		height: 22px;
		font-size: 9px;
		line-height: 11px;
	}
	#sidebar .ad{display: none;}
	#content .content-block h1{
		font-size: 16px;
		line-height: 20px;
		margin: 0 0 5px;
	}
	.content-block h2{
		font-size: 15px;
		line-height: 19px;
		margin: 0 0 5px;
	}
	.content-block h3{
		font-size: 14px;
		line-height: 18px;
		margin: 0 0 5px;
	}
	.content-block h4{
		font-size: 13px;
		line-height: 17px;
		margin: 0 0 5px;
	}
	.content-block h5{
		font-size: 12px;
		line-height: 16px;
		margin: 0 0 5px;
	}
	.content-block h6{
		font-size: 11px;
		line-height: 15px;
		margin: 0 0 5px;
	}
	.content-block{
		font-size: 9px;
		line-height: 11px;
	}
	.text-right{text-align: left;}
	.content-block .alignleft,
	.content-block .alignright{
		float: none;
		margin: 0 0 10px;
	}
	.content-block .columns .col{
		float: none;
		width: 100%;
	}
	.table-block{margin: 0 0 20px;}
	.table-block .title{
		font-size: 9px;
		line-height: 11px;
		padding: 5px;
	}
	.table-block table{
		font-size: 9px;
		line-height: 10px;
	}
	.table-block .col-6,
	.table-block .col-7,
	.table-block .col-8,
	.table-block .col-9,
	.table-block .col-10,
	.table-block .col-11,
	.table-block .col-12{display: none;}
	.flag{
		padding-left: 3.25em !important;
	}
	body.club .flag{background-position-x: 0.5em !important;}
	#nations li{
		font-size: 11px;
		line-height: 18px;
	}
	.style-tabset{
		font-size: 9px;
		line-height: 11px;
	}
	.style-tabset a:after{display: none;}
	.style-tabset a{
		padding: 5px;
		margin: 0;
	}
	.style-tabset li,
	.style-tabset li:first-child{margin: 0 1px 1px 0;}
	.style-tabset li:first-child a{
		padding-left: 5px;
	}
	.content-block ul.list,
	.content-block ol.list{
		padding: 0;
	}
	.content-block ul.list li:before{top: 2px;}
	.content-block{
		padding: 10px 0;
	}
	.content-block p{margin: 0 0 12px;}
	.category-list{
		display: none;
	}
	.mobile-categories{
		display: block;
		margin: 5px 0 10px;
	}
	.mobile-categories .select-area{
		border: 1px solid #ccc;
		height: 29px;
		font-size: 14px;
		line-height: 24px;
		font-weight: bold;
		color: @green;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		width: 100% !important;
	}
	.mobile-categories .select-area .center{
		padding: 1px 10px 0;
	}
	.select-area .select-opener{
		position: absolute;
		width: 4px;
		height: 2px;
		top: 13px;
		right: 10px;
		background: url('../images/sprite-small2x.png') no-repeat -82px -17px;
		background-size: 250px 250px;
	}
	.detail-section{padding: 0;}
	#content .detail-section h1{
		font-size: 15px;
		line-height: 19px;
		margin: 0 0 -3px;
	}
	#content .detail-section h2{
		font-size: 11px;
		line-height: 15px;
		margin: 0 0 11px;
	}
	.detail-section .style-tabset{display: none;}
	.info-table{
		font-size: 9px;
		line-height: 11px;
	}
  /* WTF!? */
	.info-table td+td+td+td+td+td,
	.info-table td+td+td+td+td+td+td,
	.info-table td+td+td+td+td+td+td+td,
	.info-table td+td+td+td+td+td+td+td+td,
	.info-table td+td+td+td+td+td+td+td+td+td,
	.info-table td+td+td+td+td+td+td+td+td+td+td,
	.info-table th+th+th+th+th+th,
	.info-table th+th+th+th+th+th+th,
	.info-table th+th+th+th+th+th+th+th,
	.info-table th+th+th+th+th+th+th+th+th,
	.info-table th+th+th+th+th+th+th+th+th+th,
	.info-table th+th+th+th+th+th+th+th+th+th+th,
	.info-table .percent{display: none;}
	.info-table td+td+td+td+td+td+td+td+td+td+td+td,
	.info-table th+th+th+th+th+th+th+th+th+th+th+th{display: table-cell;}
	.mobile-heading{
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		min-width: 180px;
		display: inline-block;
		vertical-align: top;
		color: #fff;
		text-transform: uppercase;
		font-size: 13px;
		line-height: 20px;
		padding: 7px 10px 6px;
		letter-spacing: 1px;
		background: @green;
	}
	.detail-section .tab-content .tab{
		margin: 0 0 10px;
		display: block !important;
		left: auto !important;
		position: static !important;
		top: auto !important;
	}
	.round-table span{display: none;}
	.round-table em{display: inline;}
	#content .detail-section h3{
		font-size: 15px;
		line-height: 19px;
		font-weight: bold;
		margin: 21px 0 1px;
	}
	.detail-section .title{
		font-size: 10px;
		line-height: 14px;
	}
	.round-table .round{
		margin: 0 6px 0 0;
		font-size: 9px;
		line-height: 11px;
		padding: 3px 5px;
		white-space: nowrap;
	}
	.round-table{
		font-size: 9px;
		line-height: 11px;
	}
	.round-table td{
		padding: 7px 2px;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	}
	.round-table td.label{
		padding-left: 0;
		width: 25% !important;
	}
	.round-table td.time{
		width: 12% !important;
	}
	.round-table td.team{
		width: 16.5% !important;
	}
	.info-table span{display: none;}
	.info-table em{
		display: inline;
		font-style: normal;
	}
	.info-table th{
		font-size: 10px;
		width: 11.25%;
		padding: 9px 8px !important;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	}
	.info-table td{
		width: 11.25%;
		padding: 8px 0 !important;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	}
	.info-table td a,
	.info-table th a{
		margin-left: 3em;
	}
	.info-table th:first-child,
	.info-table td:first-child{
		width: 33%;
		margin-left: 3em;
		background-position-x: 0.75em;
	}
	.info-table th:last-child,
	.info-table td:last-child{width: 22%;}
	.detail-section .title{padding: 6px 10px;}
	.nav-bar > ul > li > a{
		font-size: 14px;
		padding: 4px 20px 4px 10px;
	}
	.nav-bar > ul > li > a:after{
		background: url('../images/sprite-small2x.png') no-repeat -88px -17px;
		background-size: 250px 250px;
		width: 4px;
		height: 2px;
		top: 13px;
		right: 10px;
	}
	.nav-bar > ul > li > a:hover:after,
	.nav-bar > ul > li.active > a:after,
	.nav-bar > ul > li > a.active:after{
		background-position: -93px -17px;
	}
	.nav-bar ul ul a:before{
		background: url('../images/sprite-small2x.png') no-repeat 0 -41px;
		background-size: 250px 250px;
		width: 2px;
		height: 4px;
		top: 9px;
		left: 10px;
	}
	.nav-bar ul ul a:hover:before,
	.nav-bar ul ul .active a:before,
	.nav-bar ul ul a.active:before{
		background-position: 0 -48px;
	}
	.nav-bar ul ul a{
		font-size: 12px;
		line-height: 14px;
		padding: 4px 20px;
	}
	.mobile-hidden{display: none !important;}
	.breadcrumbs{display: none;}
	.cat-menu{
		margin: 0 10px 14px;
		position: relative;
		display: block;
		background: @blue;
		color: #fff;
		font-size: 14px;
		line-height: 18px;
		font-weight: bold;
	}
	.cat-menu a{color: #fff;}
	.cat-menu span{
		letter-spacing: 1px;
		display: block;
		padding: 5px 5px 5px 10px;
	}
	.cat-menu ul{
		z-index: 99;
		width: 100%;
		display: none;
		margin: 0;
		padding: 5px 0;
		list-style: none;
		position: absolute;
		top: 100%;
		background: @blue;
	}
	.cat-menu ul a{
		display: block;
		padding: 5px 10px;
	}
	.cat-menu ul .active a,
	.cat-menu ul a.active,
	.cat-menu ul a:hover{
		background: @green;
		text-decoration: none;
	}
	.cat-menu.active ul{display: block;}
	.cat-menu .opener{
		float: right;
		text-indent: -9999px;
		overflow:hidden;
		background: url('../images/sprite-small2x.png') no-repeat -14px -38px;
		background-size: 250px 250px;
		width: 22px;
		height: 16px;
	}
	.filter-panel .view-list{display: none;}
	.products-section > p{display: none;}
	#content .products-section h1{
		font-size: 15px;
		line-height: 19px;
		margin: 0 0 12px;
	}
	.filter-panel .title{
		float: left;
		font-size: 9px;
		line-height: 11px;
		font-weight: normal;
		padding: 0;
	}
	.filter-panel .title span{
		font-weight: bold;
		color: #000;
	}
	.filter-panel .title span:first-child{
		color: #666;
	}
	.filter-panel .filter-form{
		float: none;
		margin: 0 0 10px;
		overflow: hidden;
	}
	.filter-panel .filter-form label{
		float: left;
		padding: 5px 10px 0 0;
		font-size: 9px;
		line-height: 11px;
	}
	.filter-panel .select-area{
		margin: 0 10px 0 0;
		font-size: 9px;
		line-height: 11px;
		height: 18px;
		width: 68px !important;
	}
	.filter-panel .select-price{
		width: 110px !important;
	}
	.filter-panel .select-area .center{
		padding: 3px 4px 0;
	}
	.select-options{
		font-size: 9px;
		line-height: 11px;
	}
	.filter-form .select-area .select-opener{
		top: 8px;
		right: 5px;
	}
	.filter-form label span{display: none;}
	.filter-panel{
		border: none;
		padding: 0 0 10px;
	}
	.products-list li{
		float: none;
		width: auto;
		padding: 10px 0;
		border: none;
		border-bottom: 1px solid #ccc;
		overflow: hidden;
	}
	.products-list .img-holder{
		display: inline-block;
		vertical-align: middle;
		width: 160px;
		margin: 0 1px 0 -10px;
	}
	.products-list h2{
		font-size: 15px;
		line-height: 15px;
		margin: 0 0 5px;
		min-height: 15px;
	}
	.products-list .holder{
		overflow: visible;
	}
	.products-list .price{
		float: none;
		display: block;
		font-size: 15px;
		line-height: 15px;
		margin: 0 0 10px;
		font-weight: bold;
	}
	.products-list .btn-add{
		font-size: 10px;
		line-height: 14px;
		padding: 5px 10px 5px 30px;
		font-weight: bold;
	}
	.products-list .btn-add:after{
		background: url('../images/sprite-small2x.png') no-repeat -45px -38px;
		background-size: 250px 250px;
		width: 15px;
		height: 15px;
		top: 4px;
		left: 8px;
	}
	.mobile-paging{
		display: block;
		text-align: center;
	}
	.mobile-paging .prev,
	.mobile-paging .next{
		display: inline-block;
		vertical-align: top;
		margin: 0 7px;
		text-indent: -9999px;
		overflow:hidden;
		background: url('../images/sprite-small2x.png') no-repeat -82px 0;
		background-size: 250px 250px;
		width: 7px;
		height: 11px;
	}
	.mobile-paging .next{background-position: -92px 0;}
	.products-list .frame{
		overflow: hidden;
		width: 146px;
		display: inline-block;
		vertical-align: middle;
		padding: 0 0 24px;
	}
	.products-list .btn-details{
		display: none !important;
	}
	.area .mobile-top{
		display: block;
		margin: 0 0 18px;
	}
	.area .mobile-top h1{
		display: block;
		font-size: 15px;
		line-height: 22px;
		text-transform: uppercase;
		margin: 0 0 1px;
		color: #333;
	}
	.area .mobile-top span{
		display: block;
		font-size: 9px;
		line-height: 11px;
		font-weight: bold;
	}
	.product-gallery{
		float: left;
		width: 160px;
		margin: 0 0 0 -10px;
	}
	.area .product-block{
		float: none;
		width: auto;
		margin: 0 0 19px;
	}
	.product-block:after{
		display: block;
		content: '';
		clear: both;
	}
	.product-gallery .frame{
		border: none;
		width: 160px;
		height: 200px;
	}
	.product-gallery .slide{padding: 0;}
	.product-gallery .btn-holder{
		text-align: center;
		padding: 6px 0 0;
	}
	.product-gallery .btn-prev,
	.product-gallery .btn-prev:hover,
	.product-gallery .btn-next,
	.product-gallery .btn-next:hover{
		top: auto;
		left: auto;
		right: auto;
		position: static;
		display: inline-block;
		vertical-align: top;
		margin: 0 8px;
		width: 7px;
		height: 11px;
		background: url('../images/sprite-small2x.png') no-repeat -82px 0;
		background-size: 250px 250px;
	}
	.product-gallery .btn-next,
	.product-gallery .btn-next:hover{background-position: -92px 0;}
	.main-info{
		overflow: hidden;
		display: block;
		padding: 27px 0 0 3px;
	}
	.main-info h1{
		font-size: 15px;
		line-height: 15px;
		margin: 0 0 10px;
	}
	.main-info .price{
		display: block;
		font-size: 15px;
		line-height: 15px;
		font-weight: bold;
		margin: 0 0 13px;
	}
	.main-info .btn{
		margin: 0 0 10px;
		display: inline-block;
		vertical-align: top;
		border:1px solid #ccc;
		padding: 4px 8px;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 10px;
		line-height: 14px;
	}
	.main-info .btn:before{
		display: inline-block;
		vertical-align: top;
		content: '';
		background: url('../images/sprite-small2x.png') no-repeat -45px -38px;
		background-size: 250px 250px;
		width: 15px;
		height: 15px;
		margin: -1px 8px 1px 0;
	}
	.main-info .favorite{
		display: inline-block;
		vertical-align: top;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 10px;
		line-height: 14px;
		color: #666;
	}
	.main-info .favorite:before{
		display: inline-block;
		vertical-align: top;
		content: '';
		background: url('../images/sprite-small2x.png') no-repeat -97px -38px;
		background-size: 250px 250px;
		width: 15px;
		height: 13px;
		margin: 0 5px 0 0;
	}
	.area{
		font-size: 9px;
		line-height: 10px;
		margin: 0;
	}
	.area .stock{
		margin: 0 0 13px;
		font-size: 14px;
		line-height: 18px;
	}
	.area .detail-form .text{
		float: none;
		display: block;
		padding: 0 !important;
		width: auto;
		text-align: left;
		margin: 0 0 8px;
	}
	.area .size-list label{width: 37px;}
	.area .size-list li{padding: 0 5px 5px 0;}
	.area .text-block p{margin: 0 0 14px;}
	.area .detail-form .row{padding: 0 0 12px;}
	.area .color-list li{padding: 0 5px 5px 0;}
	.detail-form .qty-holder{width: 48px;}
	.detail-form .qty-holder .btn-more{
		background: url('../images/sprite-small2x.png') no-repeat -120px -20px;
		background-size: 250px 250px;
		width: 10px;
		height: 10px;
	}
	.detail-form .qty-holder .btn-less{
		background: url('../images/sprite-small2x.png') no-repeat -120px -31px;
		background-size: 250px 250px;
		width: 10px;
		height: 10px;
	}
	.detail-form .qty-holder input[type="text"]{
		font-size: 9px;
		line-height: 13px;
		height: 21px;
		padding: 4px;
	}
	.mobile-details{
		display: block;
		border:1px solid #cfcfcf;
		border-bottom: none;
		margin: 0 0 16px;
		padding: 0;
		list-style: none;
	}
	.mobile-details > li > a{
		display: block;
		position: relative;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 14px;
		line-height: 18px;
		padding: 4px 10px;
		color: #666;
		border-bottom: 1px solid #cfcfcf;
	}
	.mobile-details > li.active > a,
	.mobile-details > li > a:hover,
	.mobile-details > li > a.active{
		color: @green;
		text-decoration: none;
	}
	.mobile-details > li > a:after{
		position: absolute;
		top: 13px;
		right: 10px;
		background: url('../images/sprite-small2x.png') no-repeat -82px -17px;
		background-size: 250px 250px;
		width: 4px;
		height: 2px;
		content: '';
	}
	.mobile-details .slide{
		padding: 13px 10px 11px;
		font-size: 9px;
		line-height: 12px;
		color: #000;
		border-bottom: 1px solid #cfcfcf;
	}
	.mobile-details h2{
		font-size: 10px;
		line-height: 14px;
		font-weight: normal;
		margin: 0 0 4px;
	}
	.mobile-details .slide ul{
		margin: 0;
		padding: 0;
		list-style: none;
	}
	.mobile-details .slide ul li{
		position: relative;
		padding: 0 0 0 7px;
	}
	.mobile-details .slide ul li:before{
		position: absolute;
		left: 0;
		top: 4px;
		background: url('../images/sprite-small2x.png') no-repeat 0 -55px;
		background-size: 250px 250px;
		width: 3px;
		height: 5px;
		content: '';
	}
	.others-products.desktop-hidden{
		margin: 0 0 18px;
		display: block;
	}
	.others-products .image-list{
		margin: 0;
		display: table;
		width: 100%;
	}
	.others-products .image-list li{
		display: table-cell;
		float: none;
		width: 25%;
		margin: 0;
		text-align: center;
	}
	.others-products .image-list a{
		display: inline-block;
		vertical-align: top;
		font-size: 9px;
		line-height: 11px;
		font-weight: bold;
	}
	.others-products h2{
		font-size: 14px;
		line-height: 18px;
		font-weight: bold;
		border-width: 3px;
		margin: 0 0 18px;
		letter-spacing: 1px;
		padding: 0 0 3px;
	}
	.area .detail-form{margin: 0 0 7px;}
	.others-products .image-list img{margin: 0 0 2px;}
	.info-accordion{
		margin: 0;
		padding: 0;
		list-style: none;
	}
	.step-form .tab{display: none !important;}
	.info-accordion li{margin: 0 0 1px;}
	.info-accordion .opener{
		display: block;
		background: #c8c8c8;
		font-weight: bold;
		color: #666;
		font-size: 14px;
		line-height: 18px;
		padding: 5px 10px;
		position: relative;
	}
	.info-accordion .active .opener,
	.info-accordion .opener:hover{
		color: #fff;
		background: @green;
		text-decoration: none;
	}
	.info-accordion .opener:after{
		position: absolute;
		content: '';
		background: url('../images/sprite-small2x.png') no-repeat 0 -70px;
		background-size: 250px 250px;
		width: 4px;
		height: 2px;
		top: 14px;
		right: 10px;
	}
	.info-accordion .active .opener:after,
	.info-accordion .opener:hover:after{
		background-position: 0 -64px;
	}
	.step-form .step-holder{padding: 16px 10px;}
	.step-form h2{
		font-size: 10px;
		line-height: 14px;
		font-weight: bold;
		margin: 0 0 8px;
	}
	.step-form label{
		font-size: 10px;
		line-height: 14px;
		font-weight: bold;
		margin: 0 0 2px;
	}
	.step-form .select-area{
		height: 25px;
		display: block;
		float: none;
		margin: 0 0 6px;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		font-size: 9px;
		line-height: 11px;
		width: 100% !important;
	}
	.step-form .select-country.select-area .center{
		padding: 6px 7px 0;
	}
	.step-form .select-holder{padding: 0;}
	.step-form .select-area .select-opener{
		background: url('../images/sprite-small2x.png') no-repeat -82px -17px;
		background-size: 250px 250px;
		width: 4px;
		height: 2px;
		top: 11px;
		right: 10px;
	}
	.step-form .row{padding: 0;}
	.step-form .row input[type="text"]{
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		width: 100%;
		font-size: 9px;
		line-height: 11px;
		height: 25px;
		padding: 7px;
		margin: 0 0 6px;
	}
	.step-form .col{
		float: none;
		width: auto;
		margin: 0;
	}
	.step-form .col.small{width: auto;}
	.step-form .btn-next{
		margin: 4px 0 2px;
		width: 100%;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		text-align: left;
		height: 25px;
		font-size: 9px;
	}
	.step-form .btn-next:after{
		background: url('../images/sprite-small2x.png') no-repeat -20px -60px;
		background-size: 250px 250px;
		width: 9px;
		height: 9px;
		right: 10px;
		top: 8px;
	}
	.cart-section .info-section{padding: 24px 0 0;}
	.info-section .title{
		margin: 0;
		padding: 0 0 2px;
		border-bottom: 1px solid #ccc;
	}
	.info-section .info-row{
		padding: 15px 0 12px;
		border-top: none;
		border-bottom: 1px solid #ccc;
	}
	.info-section .info-row img{
		float: left;
		margin: 0 9px 0 3px;
	}
	.info-section .info-row .text-holder{padding: 3px 0 0;}
	.info-section .info-row .btn-list a{
		background: url('../images/sprite-small2x.png') no-repeat -37px -59px;
		background-size: 250px 250px;
		width: 11px;
		height: 11px;
	}
	.info-section .info-row .btn-list .btn-delete{
		background-position: -52px -58px;
		width: 12px;
		height: 12px;
	}
	.info-section .info-row .price{margin: 0 0 13px;}
	.info-section .info-row .btn-list{margin-left: 20px;}
	.info-section .info-row .btn-list li{margin: 0 0 0 4px;}
	.info-section .info-row .heading-row{margin: 0 0 2px;}
	.info-section .info-row .detail-list dt{font-weight: bold;}
	.info-section .info-row .detail-list dt{margin: 0 13px 0 0;}
	.info-section .info-list{padding: 16px 0 0;}
	.info-section .info-list dd{padding: 0 0 8px;}
	.info-section .info-list dt.last{padding-top: 3px;}
	.info-section .info-list dd.last{
		padding-top: 0;
		float: right;
	}
	.info-section input[type="text"]{
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		width: 76px;
		height: 22px;
		font-size: 9px;
		line-height: 12px;
		padding: 5px;
	}
	.info-section .btn-apply{
		width: 75px;
		height: 22px;
		font-size: 9px;
		line-height: 11px;
	}
	.info-section .btn-holder{padding: 12px 0 0;}
	.info-section input[type="submit"]{
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		width: 100%;
		height: 35px;
		font-size: 15px;
	}
	.info-section .btn-holder .link{
		font-size: 11px;
		line-height: 13px;
		margin: 7px 0 0;
	}
	.cart-section{margin: 0 0 3px;}
	.desktop-hidden{display: block !important;}
}

/* oEmbed */
.oembed-rich,
.oembed-video {
	/* center the object in the center */
	text-align: center;
	iframe {
		margin-left: auto !important;
		margin-right: auto !important;
	}

	/* hide the links from below the embedded media */
	.oembed-rich-url,
	.oembed-video-url {
		display: none;
	}
}

/* news index */
body.news {
	a.article {
		border: 1px solid transparent;
		color: inherit;
		display: block;
		padding: 1em;
		padding-bottom: 0;
		margin-bottom: 1em;

		img {
			float: right;
			margin-left: 1em;
		}

		h2 {
			margin-bottom: 8px;
		}

		.published {
			margin-bottom: 8px;

			&:before {
				content: "Published: ";
				font-weight: bold;
			}
		}

		&:hover {
			border-color: @green;
			text-decoration: none;
		}
	}
}

/* ranking */

body.ranking {
  .content-block {
    h3, h4 {
      margin-top: 0;
    }
    .info-table {
      margin-bottom: 3em;

      td {
        white-space: nowrap;

        &.flag {
          padding-left: 3em !important;
        }

        a {
          margin-left: 0;
        }
      }
    }
  }
}

@import "editor";

@media print {
	@import "print";
}
