body,
#wrapper {
	background: #fff;
}

#header,
#sidebar,
h1 a,
.breadcrumbs,
.category-list,
.mobile-categories,
#footer {
	display: none;
}

#content {
	width: 100%;
}

.content-block,
.detail-section {
	padding-bottom: 0;
}

.w1 {
	max-width: none;
	padding: 0;
}

.round-table {
	.team {
		a {
			em {
				display: inline !important;
			}
			span {
				display: none !important;
			}
		}
	}
}
